/*
Euler Stream Sign API

Sign Server API Documentation

API version: dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package eulerapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TikTokLIVERoomsAPIService TikTokLIVERoomsAPI service
type TikTokLIVERoomsAPIService service

type ApiFetchWebcastURLRequest struct {
	ctx context.Context
	ApiService *TikTokLIVERoomsAPIService
	roomId string
	client *string
	cursor *string
	userAgent *string
	clientEnter *bool
	platform *WebcastFetchPlatform
	xOauthToken *string
	xCookieHeader *string
}

// The client library identifier. Used for metrics.
func (r ApiFetchWebcastURLRequest) Client(client string) ApiFetchWebcastURLRequest {
	r.client = &client
	return r
}

// Starting cursor for the webcast connection, if any
func (r ApiFetchWebcastURLRequest) Cursor(cursor string) ApiFetchWebcastURLRequest {
	r.cursor = &cursor
	return r
}

// Override the user agent used for signing and fetching
func (r ApiFetchWebcastURLRequest) UserAgent(userAgent string) ApiFetchWebcastURLRequest {
	r.userAgent = &userAgent
	return r
}

// Whether the client enters a room after connecting, or if it&#39;s done by query parameters
func (r ApiFetchWebcastURLRequest) ClientEnter(clientEnter bool) ApiFetchWebcastURLRequest {
	r.clientEnter = &clientEnter
	return r
}

// Platform to connect with
func (r ApiFetchWebcastURLRequest) Platform(platform WebcastFetchPlatform) ApiFetchWebcastURLRequest {
	r.platform = &platform
	return r
}

// OAuth access token for session resolution
func (r ApiFetchWebcastURLRequest) XOauthToken(xOauthToken string) ApiFetchWebcastURLRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiFetchWebcastURLRequest) XCookieHeader(xCookieHeader string) ApiFetchWebcastURLRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiFetchWebcastURLRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FetchWebcastURLExecute(r)
}

/*
FetchWebcastURL Method for FetchWebcastURL

Fetch the WebSocket URL & first payload for a TikTok LIVE Room given a Room ID.

**Authentication (Optional):** Anonymous access is supported. For authenticated requests, provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param roomId The room ID to fetch the Webcast URL for. Must be a numeric string.
 @return ApiFetchWebcastURLRequest
*/
func (a *TikTokLIVERoomsAPIService) FetchWebcastURL(ctx context.Context, roomId string) ApiFetchWebcastURLRequest {
	return ApiFetchWebcastURLRequest{
		ApiService: a,
		ctx: ctx,
		roomId: roomId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TikTokLIVERoomsAPIService) FetchWebcastURLExecute(r ApiFetchWebcastURLRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVERoomsAPIService.FetchWebcastURL")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/rooms/{room_id}/connect"
	localVarPath = strings.Replace(localVarPath, "{"+"room_id"+"}", url.PathEscape(parameterValueToString(r.roomId, "roomId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.client != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "client", r.client, "form", "")
	} else {
		var defaultValue string = "ttlive-other"
		parameterAddToHeaderOrQuery(localVarQueryParams, "client", defaultValue, "form", "")
		r.client = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.userAgent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_agent", r.userAgent, "form", "")
	}
	if r.clientEnter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "client_enter", r.clientEnter, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "client_enter", defaultValue, "form", "")
		r.clientEnter = &defaultValue
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/protobuf", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-jwt-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRoomGiftsRequest struct {
	ctx context.Context
	ApiService *TikTokLIVERoomsAPIService
	roomId string
	webcastLanguage *WebcastLanguage
}

// Webcast language for locale-based fields
func (r ApiRetrieveRoomGiftsRequest) WebcastLanguage(webcastLanguage WebcastLanguage) ApiRetrieveRoomGiftsRequest {
	r.webcastLanguage = &webcastLanguage
	return r
}

func (r ApiRetrieveRoomGiftsRequest) Execute() (*RoomGiftsResponse, *http.Response, error) {
	return r.ApiService.RetrieveRoomGiftsExecute(r)
}

/*
RetrieveRoomGifts Method for RetrieveRoomGifts

Retrieve room-specific TikTok LIVE gift data.

Returns the ordered gift list for a specific room, along with room-specific
overrides (sponsor info, gallery status, panel visibility). Use this alongside
the /webcast/gift_info endpoint which provides the full gift catalog.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param roomId The room ID of the TikTok LIVE session
 @return ApiRetrieveRoomGiftsRequest
*/
func (a *TikTokLIVERoomsAPIService) RetrieveRoomGifts(ctx context.Context, roomId string) ApiRetrieveRoomGiftsRequest {
	return ApiRetrieveRoomGiftsRequest{
		ApiService: a,
		ctx: ctx,
		roomId: roomId,
	}
}

// Execute executes the request
//  @return RoomGiftsResponse
func (a *TikTokLIVERoomsAPIService) RetrieveRoomGiftsExecute(r ApiRetrieveRoomGiftsRequest) (*RoomGiftsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RoomGiftsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVERoomsAPIService.RetrieveRoomGifts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/rooms/{room_id}/gifts"
	localVarPath = strings.Replace(localVarPath, "{"+"room_id"+"}", url.PathEscape(parameterValueToString(r.roomId, "roomId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.webcastLanguage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "webcast_language", r.webcastLanguage, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRoomInfoByRoomIdRequest struct {
	ctx context.Context
	ApiService *TikTokLIVERoomsAPIService
	roomId string
	xImageSource *RouteImageSource
}

// Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME).
func (r ApiRetrieveRoomInfoByRoomIdRequest) XImageSource(xImageSource RouteImageSource) ApiRetrieveRoomInfoByRoomIdRequest {
	r.xImageSource = &xImageSource
	return r
}

func (r ApiRetrieveRoomInfoByRoomIdRequest) Execute() (*WebcastRoomInfoByRoomIdRouteResponse, *http.Response, error) {
	return r.ApiService.RetrieveRoomInfoByRoomIdExecute(r)
}

/*
RetrieveRoomInfoByRoomId Method for RetrieveRoomInfoByRoomId

Retrieve TikTok LIVE room information by room ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param roomId The TikTok LIVE room ID.
 @return ApiRetrieveRoomInfoByRoomIdRequest
*/
func (a *TikTokLIVERoomsAPIService) RetrieveRoomInfoByRoomId(ctx context.Context, roomId string) ApiRetrieveRoomInfoByRoomIdRequest {
	return ApiRetrieveRoomInfoByRoomIdRequest{
		ApiService: a,
		ctx: ctx,
		roomId: roomId,
	}
}

// Execute executes the request
//  @return WebcastRoomInfoByRoomIdRouteResponse
func (a *TikTokLIVERoomsAPIService) RetrieveRoomInfoByRoomIdExecute(r ApiRetrieveRoomInfoByRoomIdRequest) (*WebcastRoomInfoByRoomIdRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastRoomInfoByRoomIdRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVERoomsAPIService.RetrieveRoomInfoByRoomId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/rooms/{room_id}/room_info"
	localVarPath = strings.Replace(localVarPath, "{"+"room_id"+"}", url.PathEscape(parameterValueToString(r.roomId, "roomId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xImageSource != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-image-source", r.xImageSource, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendRoomChatRequest struct {
	ctx context.Context
	ApiService *TikTokLIVERoomsAPIService
	roomId string
	sendRoomChatRequest *SendRoomChatRequest
	xOauthToken *string
	xCookieHeader *string
}

// The payload configuration for sending a chat
func (r ApiSendRoomChatRequest) SendRoomChatRequest(sendRoomChatRequest SendRoomChatRequest) ApiSendRoomChatRequest {
	r.sendRoomChatRequest = &sendRoomChatRequest
	return r
}

// OAuth access token for session resolution
func (r ApiSendRoomChatRequest) XOauthToken(xOauthToken string) ApiSendRoomChatRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiSendRoomChatRequest) XCookieHeader(xCookieHeader string) ApiSendRoomChatRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiSendRoomChatRequest) Execute() (*WebcastRoomChatRouteResponse, *http.Response, error) {
	return r.ApiService.SendRoomChatExecute(r)
}

/*
SendRoomChat Method for SendRoomChat

Send a chat to a TikTok LIVE room.

Either `targetRoomId` or `targetUniqueId` must be provided to identify the room.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param roomId Room ID
 @return ApiSendRoomChatRequest
*/
func (a *TikTokLIVERoomsAPIService) SendRoomChat(ctx context.Context, roomId string) ApiSendRoomChatRequest {
	return ApiSendRoomChatRequest{
		ApiService: a,
		ctx: ctx,
		roomId: roomId,
	}
}

// Execute executes the request
//  @return WebcastRoomChatRouteResponse
func (a *TikTokLIVERoomsAPIService) SendRoomChatExecute(r ApiSendRoomChatRequest) (*WebcastRoomChatRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastRoomChatRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVERoomsAPIService.SendRoomChat")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/rooms/{room_id}/chat"
	localVarPath = strings.Replace(localVarPath, "{"+"room_id"+"}", url.PathEscape(parameterValueToString(r.roomId, "roomId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sendRoomChatRequest == nil {
		return localVarReturnValue, nil, reportError("sendRoomChatRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	// body params
	localVarPostBody = r.sendRoomChatRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
