/*
Euler Stream Sign API

Sign Server API Documentation

API version: dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package eulerapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TikTokLIVEEventsAPIService TikTokLIVEEventsAPI service
type TikTokLIVEEventsAPIService service

type ApiRetrieveWebcastAnchorEventsRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEEventsAPIService
	anchorId string
	page *float64
	xOauthToken *string
	xCookieHeader *string
}

// Zero-based page of events (20 per page).
func (r ApiRetrieveWebcastAnchorEventsRequest) Page(page float64) ApiRetrieveWebcastAnchorEventsRequest {
	r.page = &page
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveWebcastAnchorEventsRequest) XOauthToken(xOauthToken string) ApiRetrieveWebcastAnchorEventsRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveWebcastAnchorEventsRequest) XCookieHeader(xCookieHeader string) ApiRetrieveWebcastAnchorEventsRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiRetrieveWebcastAnchorEventsRequest) Execute() (*RetrieveWebcastAnchorEventsResponse, *http.Response, error) {
	return r.ApiService.RetrieveWebcastAnchorEventsExecute(r)
}

/*
RetrieveWebcastAnchorEvents Method for RetrieveWebcastAnchorEvents

List the scheduled/live TikTok LIVE events for an anchor (creator).

The upstream endpoint is session-bound, so a session is required.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param anchorId The anchor's numeric TikTok user ID.
 @return ApiRetrieveWebcastAnchorEventsRequest
*/
func (a *TikTokLIVEEventsAPIService) RetrieveWebcastAnchorEvents(ctx context.Context, anchorId string) ApiRetrieveWebcastAnchorEventsRequest {
	return ApiRetrieveWebcastAnchorEventsRequest{
		ApiService: a,
		ctx: ctx,
		anchorId: anchorId,
	}
}

// Execute executes the request
//  @return RetrieveWebcastAnchorEventsResponse
func (a *TikTokLIVEEventsAPIService) RetrieveWebcastAnchorEventsExecute(r ApiRetrieveWebcastAnchorEventsRequest) (*RetrieveWebcastAnchorEventsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RetrieveWebcastAnchorEventsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEEventsAPIService.RetrieveWebcastAnchorEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/events/anchors/{anchor_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"anchor_id"+"}", url.PathEscape(parameterValueToString(r.anchorId, "anchorId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveWebcastEventRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEEventsAPIService
	eventId string
	xImageSource *RouteImageSource
}

// Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME).
func (r ApiRetrieveWebcastEventRequest) XImageSource(xImageSource RouteImageSource) ApiRetrieveWebcastEventRequest {
	r.xImageSource = &xImageSource
	return r
}

func (r ApiRetrieveWebcastEventRequest) Execute() (*RetrieveWebcastEventResponse, *http.Response, error) {
	return r.ApiService.RetrieveWebcastEventExecute(r)
}

/*
RetrieveWebcastEvent Method for RetrieveWebcastEvent

Retrieve a single TikTok LIVE event (a scheduled/subscription stream) by
its event ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param eventId The numeric ID of the LIVE event.
 @return ApiRetrieveWebcastEventRequest
*/
func (a *TikTokLIVEEventsAPIService) RetrieveWebcastEvent(ctx context.Context, eventId string) ApiRetrieveWebcastEventRequest {
	return ApiRetrieveWebcastEventRequest{
		ApiService: a,
		ctx: ctx,
		eventId: eventId,
	}
}

// Execute executes the request
//  @return RetrieveWebcastEventResponse
func (a *TikTokLIVEEventsAPIService) RetrieveWebcastEventExecute(r ApiRetrieveWebcastEventRequest) (*RetrieveWebcastEventResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RetrieveWebcastEventResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEEventsAPIService.RetrieveWebcastEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/events/{event_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"event_id"+"}", url.PathEscape(parameterValueToString(r.eventId, "eventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xImageSource != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-image-source", r.xImageSource, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
