/*
Euler Stream Sign API

Sign Server API Documentation

API version: dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package eulerapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TikTokLIVEAPIService TikTokLIVEAPI service
type TikTokLIVEAPIService service

type ApiRetrieveBulkLiveCheckRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	retrieveBulkLiveCheckRequest *RetrieveBulkLiveCheckRequest
	xOauthToken *string
	xCookieHeader *string
}

// The body of the request containing user numeric IDs (e.g. 7602356191083907865).
func (r ApiRetrieveBulkLiveCheckRequest) RetrieveBulkLiveCheckRequest(retrieveBulkLiveCheckRequest RetrieveBulkLiveCheckRequest) ApiRetrieveBulkLiveCheckRequest {
	r.retrieveBulkLiveCheckRequest = &retrieveBulkLiveCheckRequest
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveBulkLiveCheckRequest) XOauthToken(xOauthToken string) ApiRetrieveBulkLiveCheckRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveBulkLiveCheckRequest) XCookieHeader(xCookieHeader string) ApiRetrieveBulkLiveCheckRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiRetrieveBulkLiveCheckRequest) Execute() (*RetrieveBulkLiveCheckResponse, *http.Response, error) {
	return r.ApiService.RetrieveBulkLiveCheckExecute(r)
}

/*
RetrieveBulkLiveCheck Method for RetrieveBulkLiveCheck

A bulk-check endpoint to determine if a group of TikTok users (up to 50 at once) are live.
It uses a highly optimized job-based system for checking large numbers of users quickly.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveBulkLiveCheckRequest
*/
func (a *TikTokLIVEAPIService) RetrieveBulkLiveCheck(ctx context.Context) ApiRetrieveBulkLiveCheckRequest {
	return ApiRetrieveBulkLiveCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RetrieveBulkLiveCheckResponse
func (a *TikTokLIVEAPIService) RetrieveBulkLiveCheckExecute(r ApiRetrieveBulkLiveCheckRequest) (*RetrieveBulkLiveCheckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RetrieveBulkLiveCheckResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveBulkLiveCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/bulk_live_check"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.retrieveBulkLiveCheckRequest == nil {
		return localVarReturnValue, nil, reportError("retrieveBulkLiveCheckRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	// body params
	localVarPostBody = r.retrieveBulkLiveCheckRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveHashtagListRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	xImageSource *RouteImageSource
}

// Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME).
func (r ApiRetrieveHashtagListRequest) XImageSource(xImageSource RouteImageSource) ApiRetrieveHashtagListRequest {
	r.xImageSource = &xImageSource
	return r
}

func (r ApiRetrieveHashtagListRequest) Execute() (*HashtagListAPIResponse, *http.Response, error) {
	return r.ApiService.RetrieveHashtagListExecute(r)
}

/*
RetrieveHashtagList Method for RetrieveHashtagList

Retrieve the list of available hashtags for TikTok LIVE streams.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveHashtagListRequest
*/
func (a *TikTokLIVEAPIService) RetrieveHashtagList(ctx context.Context) ApiRetrieveHashtagListRequest {
	return ApiRetrieveHashtagListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HashtagListAPIResponse
func (a *TikTokLIVEAPIService) RetrieveHashtagListExecute(r ApiRetrieveHashtagListRequest) (*HashtagListAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HashtagListAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveHashtagList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/hashtags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xImageSource != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-image-source", r.xImageSource, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-jwt-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveWebcastFeedRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	region *PooledProxyRegion
	xImageSource *RouteImageSource
}

// The region (country) with which to fetch a feed from.
func (r ApiRetrieveWebcastFeedRequest) Region(region PooledProxyRegion) ApiRetrieveWebcastFeedRequest {
	r.region = &region
	return r
}

// Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME).
func (r ApiRetrieveWebcastFeedRequest) XImageSource(xImageSource RouteImageSource) ApiRetrieveWebcastFeedRequest {
	r.xImageSource = &xImageSource
	return r
}

func (r ApiRetrieveWebcastFeedRequest) Execute() (*WebcastFeedRouteResponse, *http.Response, error) {
	return r.ApiService.RetrieveWebcastFeedExecute(r)
}

/*
RetrieveWebcastFeed Method for RetrieveWebcastFeed

Fetch the TikTok LIVE webcast feed for a specific region. Gets a random sampling of creators for a region.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveWebcastFeedRequest
*/
func (a *TikTokLIVEAPIService) RetrieveWebcastFeed(ctx context.Context) ApiRetrieveWebcastFeedRequest {
	return ApiRetrieveWebcastFeedRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastFeedRouteResponse
func (a *TikTokLIVEAPIService) RetrieveWebcastFeedExecute(r ApiRetrieveWebcastFeedRequest) (*WebcastFeedRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastFeedRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveWebcastFeed")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/feed"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.region == nil {
		return localVarReturnValue, nil, reportError("region is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xImageSource != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-image-source", r.xImageSource, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-jwt-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveWebcastRankingsRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	region *PooledProxyRegion
	rankType *string
	xOauthToken *string
	xCookieHeader *string
	sessionId *string
	ttTargetIdc *string
	xImageSource *RouteImageSource
}

// The region (country) with which to fetch a feed from.
func (r ApiRetrieveWebcastRankingsRequest) Region(region PooledProxyRegion) ApiRetrieveWebcastRankingsRequest {
	r.region = &region
	return r
}

// The type of ranking to fetch. See documentation for more details.
func (r ApiRetrieveWebcastRankingsRequest) RankType(rankType string) ApiRetrieveWebcastRankingsRequest {
	r.rankType = &rankType
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveWebcastRankingsRequest) XOauthToken(xOauthToken string) ApiRetrieveWebcastRankingsRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveWebcastRankingsRequest) XCookieHeader(xCookieHeader string) ApiRetrieveWebcastRankingsRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

// Use x-oauth-token or x-cookie-header instead
// Deprecated
func (r ApiRetrieveWebcastRankingsRequest) SessionId(sessionId string) ApiRetrieveWebcastRankingsRequest {
	r.sessionId = &sessionId
	return r
}

// Use x-oauth-token or x-cookie-header instead
// Deprecated
func (r ApiRetrieveWebcastRankingsRequest) TtTargetIdc(ttTargetIdc string) ApiRetrieveWebcastRankingsRequest {
	r.ttTargetIdc = &ttTargetIdc
	return r
}

// Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME).
func (r ApiRetrieveWebcastRankingsRequest) XImageSource(xImageSource RouteImageSource) ApiRetrieveWebcastRankingsRequest {
	r.xImageSource = &xImageSource
	return r
}

func (r ApiRetrieveWebcastRankingsRequest) Execute() (*WebcastRegionRankingsResponse, *http.Response, error) {
	return r.ApiService.RetrieveWebcastRankingsExecute(r)
}

/*
RetrieveWebcastRankings Method for RetrieveWebcastRankings

Retrieve TikTok LIVE rankings for a specific region. This is NOT a catalogue endpoint, and is available with any paid plan.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveWebcastRankingsRequest
*/
func (a *TikTokLIVEAPIService) RetrieveWebcastRankings(ctx context.Context) ApiRetrieveWebcastRankingsRequest {
	return ApiRetrieveWebcastRankingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastRegionRankingsResponse
func (a *TikTokLIVEAPIService) RetrieveWebcastRankingsExecute(r ApiRetrieveWebcastRankingsRequest) (*WebcastRegionRankingsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastRegionRankingsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveWebcastRankings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/rankings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.region == nil {
		return localVarReturnValue, nil, reportError("region is required and must be specified")
	}
	if r.rankType == nil {
		return localVarReturnValue, nil, reportError("rankType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "rank_type", r.rankType, "form", "")
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "form", "")
	}
	if r.ttTargetIdc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tt_target_idc", r.ttTargetIdc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.xImageSource != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-image-source", r.xImageSource, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RetrieveAccountSelf429Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RetrieveAccountSelf500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v GetAvailableDates503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
