openapi: 3.0.0
info:
  contact:
    name: Euler Stream
  description: Sign Server API Documentation
  license:
    name: All Rights Reserved
  title: Euler Stream Sign API
  version: dev
servers:
- description: Public Server (Community & Pro)
  url: https://api.eulerstream.com
- description: Enterprise Server (Enterprise)
  url: https://tiktok.enterprise.eulerstream.com
- description: Staging Server (Private Use)
  url: https://tiktok.staging.eulerstream.com
tags:
- description: Fetch information from the TikTok LIVE Webcast API.
  name: TikTok LIVE
- description: Fetch information about a TikTok LIVE room by its room ID.
  name: TikTok LIVE Rooms
- description: Fetch information about a TikTok LIVE anchor (host) by their unique
    ID.
  name: TikTok LIVE Anchors
- description: Fetch the TikTok LIVE gift catalog and individual gift details.
  name: TikTok LIVE Gifts
- description: Premium TikTok LIVE routes for stream moderation.
  name: TikTok LIVE Moderation
- description: Public TikTok API signing routes.
  name: TikTok General
- description: "Manage, create, update, and retrieve information about TikTok LIVE\
    \ Creator Alerts."
  name: TikTok LIVE Alerts
- description: "Manage, create, update, and retrieve information about TikTok LIVE\
    \ Creator Alert Targets."
  name: TikTok LIVE Alert Targets
- description: Routes related to TikTok Captchas.
  name: TikTok Captchas
- description: "Manage, create, update, and retrieve information about Sign API Accounts."
  name: Accounts
- description: "Manage, create, update, and retrieve information about Sign API keys."
  name: Authentication
- description: Routes for Sign API analytics and logging.
  name: Analytics
- description: Manage WebSocket connections and state.
  name: TikTok WebSocket API
paths:
  /webcast/websockets/{account_id}/{websocket_id}:
    get:
      description: Retrieve the currently connected WebSocket clients for your account.
      operationId: RetrieveWebSocketState
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - explode: false
        in: path
        name: websocket_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketRouteResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok WebSocket API
      x-accepts:
      - application/json
  /webcast/websockets/{account_id}:
    get:
      description: Retrieve the currently connected WebSocket clients for your account.
      operationId: GetWebSockets
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketsRouteResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok WebSocket API
      x-accepts:
      - application/json
  /tiktok/sign_url:
    post:
      description: "Sign a non-LIVE TikTok URL. This is NOT available to customers\
        \ in any public package, and access is approved on a case-by-case basis."
      operationId: SignTikTokUrl
      parameters:
      - description: The TikTokLive client making the request
        explode: true
        in: query
        name: client
        required: false
        schema:
          default: ttlive-other
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignTikTokUrlBody"
        description: Config for the signature generation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignTikTokUrlResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok General
      x-content-type: application/json
      x-accepts:
      - application/json
  /webcast/rooms/{room_id}/chat:
    post:
      description: |-
        Send a chat to a TikTok LIVE room.

        Either `targetRoomId` or `targetUniqueId` must be provided to identify the room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: SendRoomChat
      parameters:
      - description: Room ID
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendRoomChat_request"
        description: The payload configuration for sending a chat
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRoomChatRouteResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Rooms
      x-premium: "true"
      x-content-type: application/json
      x-accepts:
      - application/json
  /webcast/anchors/{unique_id}/user_id:
    get:
      description: Resolve a TikTok
      operationId: RetrieveWebcastUserId
      parameters:
      - description: The unique ID (handle) of the TikTok user.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastUserIdResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE Anchors
      x-accepts:
      - application/json
  /webcast/anchors/{unique_id}/earnings:
    get:
      description: |-
        Retrieve TikTok LIVE earnings for a specific user.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveWebcastUserEarnings
      parameters:
      - description: The unique ID (username) of the user to fetch earnings for.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      - description: Earnings period
        explode: true
        in: query
        name: period
        required: false
        schema:
          $ref: "#/components/schemas/WebcastUserEarningsOutputPeriod"
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: session_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: tt_target_idc
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastUserEarningsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Anchors
      x-premium: "true"
      x-accepts:
      - application/json
  /webcast/rooms/{room_id}/connect:
    get:
      description: |-
        Fetch the WebSocket URL & first payload for a TikTok LIVE Room given a Room ID.

        **Authentication (Optional):** Anonymous access is supported. For authenticated requests, provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: FetchWebcastURL
      parameters:
      - description: The client library identifier. Used for metrics.
        explode: true
        in: query
        name: client
        required: false
        schema:
          default: ttlive-other
          type: string
        style: form
      - description: The room ID to fetch the Webcast URL for.
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique ID of the TikTok user. Send this instead of a Room\
          \ ID, if you're an Enterprise user. Pass \"0\" to room_id."
        explode: true
        in: query
        name: unique_id
        required: false
        schema:
          type: string
        style: form
      - description: "Starting cursor for the webcast connection, if any"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Override the user agent used for signing and fetching
        explode: true
        in: query
        name: user_agent
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the client enters a room after connecting, or if it's\
          \ done by query parameters"
        explode: true
        in: query
        name: client_enter
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Country code to make the request from.
        explode: true
        in: query
        name: country
        required: false
        schema:
          $ref: "#/components/schemas/PooledProxyRegion"
        style: form
      - description: Platform to connect with
        explode: true
        in: query
        name: platform
        required: false
        schema:
          $ref: "#/components/schemas/WebcastFetchPlatform"
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: session_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: tt_target_idc
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/protobuf:
              schema:
                allOf:
                - $ref: "#/components/schemas/Uint8Array"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Rooms
      x-accepts:
      - application/json
      - application/protobuf
  /webcast/gifts:
    get:
      description: Retrieve Webcast gifts for a given region
      operationId: RetrieveWebcastGifts
      parameters:
      - description: The region to fetch gifts for
        explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: "#/components/schemas/PooledProxyRegion"
        style: form
      - description: Webcast language for locale-based fields
        explode: true
        in: query
        name: webcast_language
        required: false
        schema:
          default: en
          enum:
          - en
          type: string
        style: form
      - description: Whether to redirect directly or return a JSON response
        explode: true
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/WebcastGiftsResponse"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Gifts
      x-accepts:
      - application/json
  /webcast/gifts/catalog:
    get:
      description: |-
        List the full TikTok LIVE gift catalog, paginated.

        This is a special route, it does NOT fetch data live, and therefore does not count to your hourly/daily rate limits.
      operationId: ListWebcastGifts
      parameters:
      - description: "Results per page (1–100, server-clamped). Defaults to 50."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          format: double
          type: number
        style: form
      - description: 1-based page number. Defaults to 1.
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          format: double
          type: number
        style: form
      - description: Sort order for the catalog. Defaults to price ascending.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: "#/components/schemas/GiftCatalogOrderBy"
        style: form
      - description: Whether to sort ascending or descending. Defaults to true.
        explode: true
        in: query
        name: ascending
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastGiftcatalogResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Gifts
      x-accepts:
      - application/json
  /webcast/gifts/catalog/{gift_id}:
    get:
      description: |-
        Retrieve a single TikTok LIVE gift by its numeric gift ID.

        This is a special route, it does NOT fetch data live, and therefore does not count to your hourly/daily rate limits.
      operationId: RetrieveWebcastGift
      parameters:
      - description: The numeric gift ID to look up
        explode: false
        in: path
        name: gift_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastGiftResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Gifts
      x-accepts:
      - application/json
  /webcast/gifts/catalog/search:
    post:
      description: |-
        Search the TikTok LIVE gift catalogue by gift name.

        This is a special route, it does NOT fetch data live, and therefore does not count to your hourly/daily rate limits.
      operationId: SearchWebcastGifts
      parameters:
      - description: The search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastGiftSearchResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Gifts
      x-accepts:
      - application/json
  /webcast/anchors/{unique_id}/gift_gallery:
    get:
      description: |-
        Retrieve the TikTok LIVE gift gallery (sponsorable gifts + sponsorship
        progress) for a creator.

        The gallery is rendered per-viewer, so a session is required.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveWebcastGiftGallery
      parameters:
      - description: The creator's unique ID (handle).
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastGiftGalleryResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Anchors
      x-premium: "true"
      x-accepts:
      - application/json
  /webcast/feed:
    get:
      description: Fetch the TikTok LIVE webcast feed for a specific region. Gets
        a random sampling of creators for a region.
      operationId: RetrieveWebcastFeed
      parameters:
      - description: The region (country) with which to fetch a feed from.
        explode: true
        in: query
        name: region
        required: true
        schema:
          $ref: "#/components/schemas/PooledProxyRegion"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastFeedRouteResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE
      x-premium: "true"
      x-accepts:
      - application/json
  /webcast/anchors/{unique_id}/room_video:
    get:
      description: Fetch TikTok LIVE Stream video given a uniqueId.
      operationId: RetrieveRoomVideo
      parameters:
      - description: The unique ID of the TikTok to fetch the data for.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      - description: The type of video stream to fetch. Default is HLS_SD.
        explode: true
        in: query
        name: streamType
        required: false
        schema:
          $ref: "#/components/schemas/StreamType"
        style: form
      - description: Whether to redirect or return as JSON
        explode: true
        in: query
        name: redirect
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/RetrieveRoomVideoResponse"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE Anchors
      x-accepts:
      - application/json
  /webcast/anchors/{unique_id}/room_info:
    get:
      description: Retrieve TikTok Live Room Information
      operationId: RetrieveRoomInfo
      parameters:
      - description: The unique identifier for the TikTok user or room
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRoomInfoRouteResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Anchors
      x-premium: "true"
      x-accepts:
      - application/json
  /tiktok/oauth/userinfo:
    get:
      description: |-
        Get information about the currently authenticated TikTok user.
        Requires a valid OAuth token with an active TikTok session.

        **Authentication:** Provide the following header:
        - `x-oauth-token`: An OAuth access token. [Read More](https://www.eulerstream.com/docs/oauth)
      operationId: GetUserInfo
      parameters:
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthUserInfoResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-new-route: true
      x-docs-group: OAuth Tokens
      x-accepts:
      - application/json
  /webcast/anchors/{unique_id}/room_id:
    get:
      description: Fetch Room ID for a given uniqueId & whether that user is live.
      operationId: RetrieveRoomId
      parameters:
      - description: The unique ID of the TikTok user to fetch the data for.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRoomIdRouteResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE Anchors
      x-accepts:
      - application/json
  /webcast/rooms/{room_id}/gifts:
    get:
      description: |-
        Retrieve room-specific TikTok LIVE gift data.

        Returns the ordered gift list for a specific room, along with room-specific
        overrides (sponsor info, gallery status, panel visibility). Use this alongside
        the /webcast/gift_info endpoint which provides the full gift catalog.
      operationId: RetrieveRoomGifts
      parameters:
      - description: The room ID of the TikTok LIVE session
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: Webcast language for locale-based fields
        explode: true
        in: query
        name: webcast_language
        required: false
        schema:
          $ref: "#/components/schemas/WebcastLanguage"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomGiftsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Rooms
      x-premium: "true"
      x-accepts:
      - application/json
  /webcast/anchors/{unique_id}/room_cover:
    get:
      description: Fetch TikTok LIVE Stream Cover URL given a uniqueId.
      operationId: RetrieveRoomCover
      parameters:
      - description: The unique ID of the TikTok to fetch the cover for.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to redirect to the URL directly
        explode: true
        in: query
        name: redirect
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/RetrieveRoomCoverResponse"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE Anchors
      x-accepts:
      - application/json
  /webcast/anchors/me/rooms:
    get:
      description: |-
        Retrieve the list of past livestreams with analytics for the authenticated user.

        **Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveLiveAnalyticsVideoList
      parameters:
      - description: "Number of videos to retrieve (default: 10)"
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          format: double
          type: number
        style: form
      - description: "Pagination offset (default: 0)"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveAnalyticsVideoListAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Anchors
      x-premium: "true"
      x-accepts:
      - application/json
  /webcast/anchors/me/rooms/{room_id}/details:
    get:
      description: |-
        Retrieve detailed analytics for a specific past livestream.

        **Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveLiveAnalyticsVideoDetail
      parameters:
      - description: The room ID of the livestream to get analytics for
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveAnalyticsVideoDetailAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Anchors
      x-premium: "true"
      x-accepts:
      - application/json
  /webcast/anchors/me/rooms/{room_id}/interactions:
    get:
      description: |-
        Find out how long a user watched your stream, the # of comments sent, likes, the comments themselves, and more analytics data.

        **Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

        Returns details about a user's activity in a room including comments, likes, shares, and watch duration.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveLiveAnalyticsUserInteractions
      parameters:
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: The numeric user ID to get interactions for
        explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveAnalyticsUserInteractionsAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Anchors
      x-premium: "true"
      x-accepts:
      - application/json
  /webcast/hashtags:
    get:
      description: Retrieve the list of available hashtags for TikTok LIVE streams.
      operationId: RetrieveHashtagList
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HashtagListAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE
      x-accepts:
      - application/json
  /webcast/bulk_live_check:
    post:
      description: |-
        A bulk-check endpoint to determine if a group of TikTok users (up to 50 at once) are live.
        It uses a highly optimized job-based system for checking large numbers of users quickly.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveBulkLiveCheck
      parameters:
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrieveBulkLiveCheck_request"
        description: The body of the request containing user numeric IDs (e.g. 7602356191083907865).
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveBulkLiveCheckResponse"
          description: A JSON response indicating which users are live and their Room
            IDs.
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE
      x-content-type: application/json
      x-accepts:
      - application/json
  /webcast/rooms/{room_id}/moderation/bans:
    delete:
      description: |-
        Unkick a user from a livestream room (allow them back).

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: UnbanRoomUser
      parameters:
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: The numeric user ID of the person to unkick
        explode: true
        in: query
        name: tiktok_user_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomUnkickUserAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Bans
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve the list of banned users in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveRoomBannedUsers
      parameters:
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomKickedUsersAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Bans
      x-accepts:
      - application/json
    put:
      description: |-
        Kick a user from a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: KickRoomUser
      parameters:
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: The numeric user ID for the individual to kick
        explode: true
        in: query
        name: tiktok_user_id
        required: true
        schema:
          type: string
        style: form
      - description: Optional comment message ID that triggered the kick
        explode: true
        in: query
        name: comment_msg_id
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomKickUserAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Bans
      x-accepts:
      - application/json
  /webcast/rooms/{room_id}/moderation/mutes:
    delete:
      description: |-
        Unmute a user in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: UnmuteRoomUser
      parameters:
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: The user ID to unmute
        explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomUnmuteUserAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Mutes
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve the list of muted users in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveRoomMutedUsers
      parameters:
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomMutedUsersAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Mutes
      x-accepts:
      - application/json
    put:
      description: |-
        Mute a user in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: MuteRoomUser
      parameters:
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: The user ID to mute
        explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - description: "Mute duration in seconds (-1 = permanent, 5, 30, 60, 300)"
        explode: true
        in: query
        name: duration
        required: false
        schema:
          $ref: "#/components/schemas/MuteDuration"
        style: form
      - description: Optional comment message ID that triggered the mute
        explode: true
        in: query
        name: comment_msg_id
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomMuteUserAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Mutes
      x-accepts:
      - application/json
  /webcast/rooms/{room_id}/moderation/toggle_comments:
    post:
      description: |-
        Toggle comments on/off in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: ToggleRoomComments
      parameters:
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: Whether comments should be enabled (true) or disabled (false)
        explode: true
        in: query
        name: enabled
        required: true
        schema:
          type: boolean
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomCommentsToggleAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Comments
      x-accepts:
      - application/json
  /webcast/anchors/{anchor_id}/moderation/moderators:
    delete:
      description: |-
        Remove a moderator from a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RemoveRoomModerator
      parameters:
      - description: The user ID to remove as moderator
        explode: true
        in: query
        name: to_user_id
        required: true
        schema:
          type: string
        style: form
      - description: The streamer's user ID
        explode: false
        in: path
        name: anchor_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomAdminUpdateAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Anchors
      x-new-route: true
      x-docs-group: Moderators
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve the list of moderators in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveRoomModerators
      parameters:
      - description: The streamer's numeric user ID
        explode: false
        in: path
        name: anchor_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomModeratorsAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Anchors
      x-new-route: true
      x-docs-group: Moderators
      x-accepts:
      - application/json
    put:
      description: |-
        Add a moderator in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: AddRoomModerator
      parameters:
      - description: The user ID to add as moderator
        explode: true
        in: query
        name: to_user_id
        required: true
        schema:
          type: string
        style: form
      - description: The streamer's user ID
        explode: false
        in: path
        name: anchor_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomAdminUpdateAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Anchors
      x-new-route: true
      x-docs-group: Moderators
      x-accepts:
      - application/json
  /webcast/rooms/{room_id}/moderation/sensitive-words:
    delete:
      description: |-
        Delete a sensitive word from a TikTok LIVE room's filter list.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: DeleteSensitiveWord
      parameters:
      - description: The ID of the sensitive word to delete
        explode: true
        in: query
        name: word_id
        required: true
        schema:
          type: string
        style: form
      - description: The sec_anchor_id of the room owner
        explode: true
        in: query
        name: sec_anchor_id
        required: true
        schema:
          type: string
        style: form
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomDelSensitiveWordAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Sensitive Words
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve the list of sensitive words for a TikTok LIVE room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: GetSensitiveWords
      parameters:
      - description: The sec_anchor_id of the room owner
        explode: true
        in: query
        name: sec_anchor_id
        required: true
        schema:
          type: string
        style: form
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomGetSensitiveWordsAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Sensitive Words
      x-accepts:
      - application/json
    post:
      description: |-
        Add a sensitive word to a TikTok LIVE room's filter list.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: AddSensitiveWord
      parameters:
      - description: The sensitive word to add
        explode: true
        in: query
        name: word
        required: true
        schema:
          type: string
        style: form
      - description: The sec_anchor_id of the room owner
        explode: true
        in: query
        name: sec_anchor_id
        required: true
        schema:
          type: string
        style: form
      - description: The room ID of the livestream
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomAddSensitiveWordAPIResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE Moderation
      x-new-route: true
      x-docs-group: Sensitive Words
      x-accepts:
      - application/json
  /webcast/rankings:
    get:
      description: |-
        Retrieve TikTok LIVE rankings for a specific region.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveWebcastRankings
      parameters:
      - description: The region (country) with which to fetch a feed from.
        explode: true
        in: query
        name: region
        required: true
        schema:
          $ref: "#/components/schemas/PooledProxyRegion"
        style: form
      - description: The type of ranking to fetch. See documentation for more details.
        explode: true
        in: query
        name: rank_type
        required: true
        schema:
          enum:
          - DAILY_RANK
          - FANS_TEAM_RANK
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: session_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: tt_target_idc
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRegionRankingsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE
      x-accepts:
      - application/json
  /tiktok/oauth/validate-refresh:
    post:
      description: |-
        Check if a stored refresh token is still valid without consuming it.
        Returns metadata about the session if valid.

        This is a public endpoint — no authentication required.
      operationId: ValidateRefreshToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateRefreshRequest"
        description: The refresh token and client ID to validate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateRefreshResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-new-route: true
      x-docs-group: OAuth Tokens
      x-content-type: application/json
      x-accepts:
      - application/json
  /tiktok/oauth/token:
    post:
      description: |-
        Exchange an authorization code or refresh token for access tokens.

        For authorization_code grant:
        - code: The authorization code from /oauth/complete
        - redirect_uri: Must match the original redirect_uri

        For refresh_token grant:
        - refresh_token: A valid refresh token
      operationId: ExchangeToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeTokenRequest"
        description: Token request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-docs-group: OAuth Tokens
      x-content-type: application/json
      x-accepts:
      - application/json
  /tiktok/oauth/revoke:
    post:
      description: |-
        Revoke an access token or refresh token (RFC 7009).
        This endpoint always returns success for valid client credentials,
        even if the token was already revoked or invalid.
      operationId: RevokeToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeRequestBody"
        description: Revoke request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthRevokeResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-docs-group: OAuth Tokens
      x-content-type: application/json
      x-accepts:
      - application/json
  /tiktok/oauth/introspect:
    post:
      description: |-
        Introspect a token to determine its state (RFC 7662).
        Returns active: true/false along with token metadata.
        Works for both access tokens and refresh tokens.
      operationId: IntrospectToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntrospectRequestBody"
        description: Introspection request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthIntrospectResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-new-route: true
      x-docs-group: OAuth Tokens
      x-content-type: application/json
      x-accepts:
      - application/json
  /tiktok/oauth/clients/{client_id}:
    get:
      description: |-
        Get public information about an OAuth client by client_id.
        This endpoint is used during the authorization flow to display
        client information to the user before they authorize.

        Does not require authentication.
        Does not expose sensitive information like client_secret_hash.
      operationId: GetPublicClient
      parameters:
      - description: The OAuth client ID to look up
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPublicClientResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-new-route: true
      x-docs-group: OAuth Tokens
      x-accepts:
      - application/json
  /tiktok/captchas/credits:
    get:
      description: Retrieve the rate limits for the provided API key
      operationId: RetrieveCaptchaCredits
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaptchaCreditsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok Captchas
      x-accepts:
      - application/json
  /tiktok/captchas/whirl:
    post:
      description: |-
        The whirl captcha requires two images: the outer image and the inner image.

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/rotate.png" alt="Whirl Captcha Example" width="480" />

        ## Usage

        The solution to the whirl captcha is an angle from 0-360. To use it in the GUI, it must be converted to a slider distance:

        `px = ((sidebar_length - icon_length) * angle) / 360`

        - `sidebar_length` is the width of `.captcha_verify_slide--slidebar`
        - `icon_length` is the width of `.secsdk-captcha-drag-icon`
      operationId: CompleteWhirlCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompleteWhirlCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhirlCaptchaResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        license_key_query:
        - PUBLIC
      tags:
      - TikTok Captchas
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /tiktok/captchas/shapes:
    post:
      description: |-
        The shapes captcha requires just one image.

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/threed.png" alt="Shapes Captcha Example" width="480" />

        ## Usage

        The solution to the shapes captcha are two points that need to be clicked. To use it in the GUI, convert the proportions to pixel values based on the image size.

        The `points` are returned as `x` and `y` proportions (0-1) of the width and height of the source image.
        The captcha image selector is `.captcha-verify-image`
      operationId: CompleteShapesCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompleteShapesCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShapesCaptchaResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        license_key_query:
        - PUBLIC
      tags:
      - TikTok Captchas
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /tiktok/captchas/puzzle:
    post:
      description: |-
        The puzzle captcha requires two images

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/puzzle.png" alt="Puzzle Piece Example" width="480" />

        ## Usage

        The solution to the puzzle captcha is the distance to move the slider to fit the puzzle piece into the background.

        The `backgroundImage` is the full background image with the missing piece.
        The `pieceImage` is the small puzzle piece that needs to be fit into the background.

        The captcha image selectors are:
        - Background: `.captcha-verify-image`
        - Piece: `#captcha-verify-image ~ div.cap-absolute > img`

        The solution is the `x` proportion (0-1) of the width of the background image where the piece fits. It is 1:1 with the slider distance proportion.
      operationId: CompletePuzzleCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompletePuzzleCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PuzzleCaptchaResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebSocketState_429_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
[...]
