# Secrets & IDE
.env
.npmrc
.idea
.transfer-to-gh-secrets

# Node
node_modules

# Build artifacts
dist
build

# Python
.venv
__pycache__
*.egg-info
*.pyc

# C#
bin
obj
*.nupkg

# Java
target
*.class
*.jar

# Go
sdk/go/generated/go.mod
sdk/go/generated/go.sum

# Generated docs (but keep sdk-examples output)
**/docs/**
!sdk-examples/output/**

# Legacy
test.py
publish.sh
.turbo
