openapi: 3.0.0
info:
  contact:
    name: Euler Stream
  description: Sign Server API Documentation
  license:
    name: All Rights Reserved
  title: Euler Stream Sign API
  version: dev
servers:
- description: Public Server (Community & Pro)
  url: https://api.eulerstream.com
- description: Enterprise Server (Enterprise)
  url: https://tiktok.enterprise.eulerstream.com
- description: Staging Server (Private Use)
  url: https://api.staging.eulerstream.com
tags:
- description: Fetch information from the TikTok LIVE Webcast API.
  name: TikTok LIVE
- description: Fetch information about a TikTok LIVE room by its room ID.
  name: TikTok LIVE Rooms
- description: Fetch information about a TikTok LIVE anchor (host) by their unique
    ID.
  name: TikTok LIVE Anchors
- description: Fetch the TikTok LIVE gift catalog and individual gift details.
  name: TikTok LIVE Gifts
- description: Premium TikTok LIVE routes for stream moderation.
  name: TikTok LIVE Moderation
- description: Current & historical TikTok LIVE Leaderboards & analytics.
  name: TikTok LIVE Rankings
- description: Browse & look up the TikTok LIVE agency catalog.
  name: TikTok LIVE Agencies
- description: Public TikTok API signing routes.
  name: TikTok General
- description: "Manage, create, update, and retrieve information about TikTok LIVE\
    \ Creator Alerts."
  name: TikTok LIVE Alerts
- description: "Manage, create, update, and retrieve information about TikTok LIVE\
    \ Creator Alert Targets."
  name: TikTok LIVE Alert Targets
- description: Routes related to TikTok Captchas.
  name: TikTok Captchas
- description: "Manage, create, update, and retrieve information about Sign API Accounts."
  name: Accounts
- description: "Manage, create, update, and retrieve information about Sign API keys."
  name: Authentication
- description: Routes for Sign API analytics and logging.
  name: Analytics
- description: Manage WebSocket connections and state.
  name: TikTok WebSocket API
paths:
  /accounts/me:
    get:
      description: Retrieve an account from the Sign API
      operationId: RetrieveAccountSelf
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Accounts
  /accounts/me/rate_limits:
    get:
      description: Retrieve the rate limits for the provided API key (or the unauthenticated
        limits if no key is provided)
      operationId: GetRateLimits
      parameters:
      - description: Which set of rate limits to retrieve. Defaults to the webcast
          (account) limits.
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/RateLimitType"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRateLimits"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Accounts
  /accounts/{account_id}/jwt/create:
    post:
      description: Create a JWT for a given API key. Note that these JWT keys are
        only valid for the non-authenticated Webcast endpoints. They function to attach
        the rate limits of the API key to the request for client-sided applications.
      operationId: CreateJWT
      parameters:
      - description: The ID of the account to create the JWT for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJWT_request"
        description: The configuration for the JWT
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateJWTResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
      x-docs-group: JWT
  /accounts/{account_id}/api_keys/create:
    put:
      description: Create a new API key
      operationId: CreateKey
      parameters:
      - description: The ID of the account to create the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateKeyPayload"
        description: The configuration for the new key
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateKeyResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
      x-docs-group: API Keys
  /accounts/{account_id}/api_keys/delete:
    delete:
      description: "Delete an API key by its key value, name, or ID"
      operationId: DeleteKey
      parameters:
      - description: The ID of the account to delete the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The API key field to delete by
        explode: true
        in: query
        name: delete_by
        required: true
        schema:
          enum:
          - value
          - id
          type: string
        style: form
      - description: The API key field value to delete by
        explode: true
        in: query
        name: delete_param
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteKeyResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
      x-docs-group: API Keys
  /accounts/{account_id}/api_keys/list:
    get:
      description: "Retrieve an API key by its key value, name, or ID"
      operationId: ListKeys
      parameters:
      - description: The ID of the account to retrieve the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListKeysResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
      x-docs-group: API Keys
  /accounts/{account_id}/api_keys/retrieve:
    get:
      description: "Retrieve an API key by its key value, name, or ID"
      operationId: GetKey
      parameters:
      - description: The ID of the account to retrieve the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The API key field to retrieve by
        explode: true
        in: query
        name: retrieve_by
        required: false
        schema:
          default: value
          enum:
          - value
          - id
          type: string
        style: form
      - description: The API key field value to retrieve by
        explode: true
        in: query
        name: retrieve_param
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveKeyResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
      x-docs-group: API Keys
  /accounts/{account_id}/api_keys/update:
    patch:
      description: Update an existing API key
      operationId: UpdateKey
      parameters:
      - description: The account to update the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The API key field to update by
        explode: true
        in: query
        name: update_by
        required: true
        schema:
          enum:
          - value
          - id
          type: string
        style: form
      - description: The API key field value to update by
        explode: true
        in: query
        name: update_param
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateKeyPayload"
        description: The new configuration for the key
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateKeyResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
      x-docs-group: API Keys
  /accounts/{account_id}/alerts/create:
    put:
      description: Create a creator alert. These Alerts are used to notify users of
        a new livestream.
      operationId: CreateAlert
      parameters:
      - description: The ID of the account to create the alert for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAlert_request"
        description: Configuration for the alert
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAlertResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alerts
  /accounts/{account_id}/alerts/{alert_id}/delete:
    delete:
      description: Delete an alert from the Sign API
      operationId: DeleteAlert
      parameters:
      - description: The ID of the account to delete the alert from
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the alert to delete
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAlertResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alerts
  /accounts/{account_id}/alerts/list:
    get:
      operationId: ListAlerts
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAlertsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alerts
  /accounts/{account_id}/alerts/{alert_id}/retrieve:
    get:
      description: Retrieve a specific alert by its ID
      operationId: RetrieveAlert
      parameters:
      - description: The account that the alert belongs to
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the alert to retrieve
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAlertResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alerts
  /accounts/{account_id}/alerts/{alert_id}/targets/create:
    put:
      description: Create a target for an alert. This is the HTTP endpoint that will
        be called when an alert is triggered.
      operationId: CreateAlertTarget
      parameters:
      - description: The ID of the account to create the alert target for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the alert to create the target for
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAlertTargetPayload"
        description: Configuration for the alert target
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAlertTargetResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alert Targets
  /accounts/{account_id}/alerts/{alert_id}/targets/{target_id}/delete:
    delete:
      description: Delete an alert target from the Sign API
      operationId: DeleteAlertTarget
      parameters:
      - description: The ID of the account to delete the alert target from
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the alert to delete the target from
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the target to delete
        explode: false
        in: path
        name: target_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAlertTargetResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alert Targets
  /accounts/{account_id}/alerts/{alert_id}/targets/list:
    get:
      description: List all alert targets for a specific alert
      operationId: ListAlertTargets
      parameters:
      - description: The account that the alert belongs to
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The alert to list targets for
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAlertTargetsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alert Targets
  /accounts/{account_id}/alerts/{alert_id}/targets/{target_id}/test:
    post:
      description: Test an alert target
      operationId: TestAlertTarget
      parameters:
      - description: The account that the alert belongs to
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The alert that the target belongs to
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The target to test
        explode: false
        in: path
        name: target_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestAlertTargetResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alert Targets
  /analytics/agents:
    get:
      description: Retrieve the currently connected agents
      operationId: FetchAgents
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAgentHostsResponse"
          description: All registered agents
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - Analytics
  /analytics/hosts:
    get:
      description: Retrieve the list of API hosts (used for horizontal scaling)
      operationId: GetHosts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - Analytics
  /analytics/pips:
    get:
      description: Retrieve stats as an SVG
      operationId: Pips
      parameters:
      - description: Specify label colour in SVG
        explode: true
        in: query
        name: labelColour
        required: false
        schema:
          default: "#555"
          type: string
        style: form
      - description: Specify value colour in SVG
        explode: true
        in: query
        name: valueColour
        required: false
        schema:
          default: "#007ec6"
          type: string
        style: form
      - description: The number of hours to retrieve the stat for
        explode: true
        in: query
        name: hours
        required: false
        schema:
          default: 1
          format: double
          type: number
        style: form
      - description: The client to filter for
        explode: true
        in: query
        name: client
        required: false
        schema:
          $ref: "#/components/schemas/TikTokSignLiveClient"
        style: form
      - description: Add the ability to retrieve the pip as JSON
        explode: true
        in: query
        name: json
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pips_200_response"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - Analytics
  /tiktok/captchas/icons:
    post:
      description: |-
        The icons captcha requires just one image & a prompt string.

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/icon.png" alt="Icons Captcha Example" width="480" />

        ## Usage

        The `prompt` is the text prompt provided by TikTok. The Icon captcha solution is provided as a list of points, where each point marks a location on the image that needs to be clicked.
        These points are expressed as ratios relative to the image's width and height.
        A point of (0.0, 0.0) corresponds to the image’s upper-left corner, while (1.0, 1.0) represents the lower-right corner. For reference, (0.5, 0.5) sits at the exact center.

        The captcha image selector is `.captcha-verify-image`
      operationId: CompleteIconCaptcha
      parameters:
      - description: The prompt string provided by TikTok
        explode: true
        in: query
        name: prompt
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompleteIconCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IconCaptchaResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - CAPTCHAS
        api_key_header:
        - CAPTCHAS
        license_key_query:
        - CAPTCHAS
      tags:
      - TikTok Captchas
  /tiktok/captchas/puzzle:
    post:
      description: |-
        The puzzle captcha requires two images

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/puzzle.png" alt="Puzzle Piece Example" width="480" />

        ## Usage

        The solution to the puzzle captcha is the distance to move the slider to fit the puzzle piece into the background.

        The `backgroundImage` is the full background image with the missing piece.
        The `pieceImage` is the small puzzle piece that needs to be fit into the background.

        The captcha image selectors are:
        - Background: `.captcha-verify-image`
        - Piece: `#captcha-verify-image ~ div.cap-absolute > img`

        The solution is the `x` proportion (0-1) of the width of the background image where the piece fits. It is 1:1 with the slider distance proportion.
      operationId: CompletePuzzleCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompletePuzzleCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PuzzleCaptchaResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - CAPTCHAS
        api_key_header:
        - CAPTCHAS
        license_key_query:
        - CAPTCHAS
      tags:
      - TikTok Captchas
  /tiktok/captchas/shapes:
    post:
      description: |-
        The shapes captcha requires just one image.

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/threed.png" alt="Shapes Captcha Example" width="480" />

        ## Usage

        The solution to the shapes captcha are two points that need to be clicked. To use it in the GUI, convert the proportions to pixel values based on the image size.

        The `points` are returned as `x` and `y` proportions (0-1) of the width and height of the source image.
        The captcha image selector is `.captcha-verify-image`
      operationId: CompleteShapesCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompleteShapesCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShapesCaptchaResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - CAPTCHAS
        api_key_header:
        - CAPTCHAS
        license_key_query:
        - CAPTCHAS
      tags:
      - TikTok Captchas
  /tiktok/captchas/whirl:
    post:
      description: |-
        The whirl captcha requires two images: the outer image and the inner image.

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/rotate.png" alt="Whirl Captcha Example" width="480" />

        ## Usage

        The solution to the whirl captcha is an angle from 0-360. To use it in the GUI, it must be converted to a slider distance:

        `px = ((sidebar_length - icon_length) * angle) / 360`

        - `sidebar_length` is the width of `.captcha_verify_slide--slidebar`
        - `icon_length` is the width of `.secsdk-captcha-drag-icon`
      operationId: CompleteWhirlCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompleteWhirlCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhirlCaptchaResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - CAPTCHAS
        api_key_header:
        - CAPTCHAS
        license_key_query:
        - CAPTCHAS
      tags:
      - TikTok Captchas
  /tiktok/captchas/credits:
    get:
      deprecated: true
      description: |-
        Retrieve the rate limits for the provided API key.

        This route is deprecated as CAPTCHAs are no longer billed for usage.
      operationId: RetrieveCaptchaCredits
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaptchaCreditsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok Captchas
  /tiktok/oauth/clients/{client_id}:
    get:
      description: |-
        Get public information about an OAuth client by client_id.
        This endpoint is used during the authorization flow to display
        client information to the user before they authorize.

        Does not require authentication.
        Does not expose sensitive information like client_secret_hash.
      operationId: GetPublicClient
      parameters:
      - description: The OAuth client ID to look up
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPublicClientResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-docs-group: OAuth Tokens
      x-new-route: true
  /tiktok/oauth/introspect:
    post:
      description: |-
        Introspect a token to determine its state (RFC 7662).
        Returns active: true/false along with token metadata.
        Works for both access tokens and refresh tokens.
      operationId: IntrospectToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntrospectRequestBody"
        description: Introspection request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthIntrospectResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-docs-group: OAuth Tokens
      x-new-route: true
  /tiktok/oauth/revoke:
    post:
      description: |-
        Revoke an access token or refresh token (RFC 7009).
        This endpoint always returns success for valid client credentials,
        even if the token was already revoked or invalid.
      operationId: RevokeToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeRequestBody"
        description: Revoke request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthRevokeResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-docs-group: OAuth Tokens
  /tiktok/oauth/token:
    post:
      description: |-
        Exchange an authorization code or refresh token for access tokens.

        For authorization_code grant:
        - code: The authorization code from /oauth/complete
        - redirect_uri: Must match the original redirect_uri

        For refresh_token grant:
        - refresh_token: A valid refresh token
      operationId: ExchangeToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeTokenRequest"
        description: Token request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-docs-group: OAuth Tokens
  /tiktok/oauth/userinfo:
    get:
      description: |-
        Get information about the currently authenticated TikTok user.
        Requires a valid OAuth token with an active TikTok session.

        **Authentication:** Provide the following header:
        - `x-oauth-token`: An OAuth access token. [Read More](https://www.eulerstream.com/docs/oauth)
      operationId: GetUserInfo
      parameters:
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthUserInfoResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-docs-group: OAuth Tokens
      x-new-route: true
  /tiktok/oauth/validate-refresh:
    post:
      description: |-
        Check if a stored refresh token is still valid without consuming it.
        Returns metadata about the session if valid.

        This is a public endpoint — no authentication required.
      operationId: ValidateRefreshToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateRefreshRequest"
        description: The refresh token and client ID to validate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateRefreshResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security: []
      tags:
      - TikTok General
      x-docs-group: OAuth Tokens
      x-new-route: true
  /webcast/rankings/catalog/leaderboards/{region}/{rank_name}/dates:
    get:
      description: |-
        Retrieve the list of dates that have leaderboard data for a given rank type and region.

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: GetAvailableDates
      parameters:
      - explode: false
        in: path
        name: rank_name
        required: true
        schema:
          $ref: "#/components/schemas/AvailableWebcastRankName"
        style: simple
      - description: The region to query (or "WW" for worldwide).
        explode: false
        in: path
        name: region
        required: true
        schema:
          type: string
        style: simple
      - description: "League level filter (e.g. \"D5\", \"A1\"). Required for RANKING_LEAGUE,\
          \ must not be provided for other rank types."
        explode: true
        in: query
        name: league
        required: false
        schema:
          $ref: "#/components/schemas/RankingLeagueName"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailableDatesResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - RANKINGS
        api_key_header:
        - RANKINGS
      tags:
      - TikTok LIVE Rankings
      x-docs-group: Leaderboards
      x-new-route: true
  /webcast/rankings/catalog/leaderboards:
    get:
      description: |-
        Returns the available ranking types and league tiers for each tracked region,
        based on each leaderboard's most recent day of data in the ranking service
        (boards with no data for several days age out of the catalog).

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: GetAvailableRankings
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailableRankingsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Rankings
      x-docs-group: Leaderboards
      x-new-route: true
  /webcast/rankings/catalog/leaderboards/{region}/{rank_name}:
    get:
      description: |-
        Retrieve the most recent leaderboard snapshot for a given rank type, region, and date.

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: GetLeaderboard
      parameters:
      - explode: false
        in: path
        name: rank_name
        required: true
        schema:
          $ref: "#/components/schemas/AvailableWebcastRankName"
        style: simple
      - description: The region to query (or "WW" for worldwide).
        explode: false
        in: path
        name: region
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The UTC date to retrieve the snapshot for (e.g. "2026-03-09"). Omitted = the
          board's most recent snapshot (matching what the catalog advertises).
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional league level filter (e.g. \"D5\", \"A1\"). Only applicable\
          \ to RANKING_LEAGUE."
        explode: true
        in: query
        name: league
        required: false
        schema:
          $ref: "#/components/schemas/RankingLeagueName"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - RANKINGS
        api_key_header:
        - RANKINGS
      tags:
      - TikTok LIVE Rankings
      x-docs-group: Leaderboards
      x-new-route: true
  /webcast/rankings/catalog/anchors/search:
    get:
      description: |-
        Search for users in the rankings data by username or nickname prefix.

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: SearchUser
      parameters:
      - description: The username or nickname substring to search for (minimum 3 characters).
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: "Maximum number of results to return (default 1, max 10)."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchUserResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - RANKINGS
        api_key_header:
        - RANKINGS
      tags:
      - TikTok LIVE Rankings
      x-new-route: true
  /webcast/rankings/catalog/leaderboards/{region}/{rank_name}/anchors/{anchor_id}/history:
    get:
      description: |-
        Retrieve a creator's daily standing on a given board over a UTC date range,
        oldest first.

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: GetUserHistory
      parameters:
      - explode: false
        in: path
        name: rank_name
        required: true
        schema:
          $ref: "#/components/schemas/AvailableWebcastRankName"
        style: simple
      - description: The leaderboard region (e.g. "US").
        explode: false
        in: path
        name: region
        required: true
        schema:
          type: string
        style: simple
      - description: TikTok numeric user id of the creator.
        explode: false
        in: path
        name: anchor_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Start of the UTC date range, inclusive (e.g. \"2026-03-01\"\
          )."
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "End of the UTC date range, inclusive (e.g. \"2026-03-31\")."
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserHistoryResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - RANKINGS
        api_key_header:
        - RANKINGS
      tags:
      - TikTok LIVE Rankings
      x-docs-group: Leaderboards
      x-new-route: true
  /webcast/rankings/catalog/anchors/{anchor_id}/rank_names:
    get:
      description: |-
        Discovery: The leaderboards a creator appears on within a UTC date range,
        returned as a map of region to rank_types.

        Rate limited to 30 requests/min. Does NOT count towards normal API limits.
      operationId: GetUserLeaderboardsOverTimespan
      parameters:
      - description: TikTok numeric user id of the creator.
        explode: false
        in: path
        name: anchor_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Start of the UTC date range, inclusive (e.g. \"2026-03-01\"\
          )."
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "End of the UTC date range, inclusive (e.g. \"2026-03-31\")."
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLeaderboardsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Rankings
      x-docs-group: Leaderboards
      x-new-route: true
  /webcast/rankings:
    get:
      description: |-
        Retrieve TikTok LIVE rankings for a specific region. This is NOT a catalogue endpoint, and is available with any paid plan.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveWebcastRankings
      parameters:
      - description: The region (country) with which to fetch a feed from.
        explode: true
        in: query
        name: region
        required: true
        schema:
          $ref: "#/components/schemas/PooledProxyRegion"
        style: form
      - description: The type of ranking to fetch. See documentation for more details.
        explode: true
        in: query
        name: rank_type
        required: true
        schema:
          enum:
          - DAILY_RANK
          - FANS_TEAM_RANK
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: session_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: tt_target_idc
        required: false
        schema:
          type: string
        style: form
      - description: "Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME)."
        explode: false
        in: header
        name: x-image-source
        required: false
        schema:
          $ref: "#/components/schemas/RouteImageSource"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRegionRankingsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE
  /tiktok/users/{unique_id}/basic:
    get:
      description: "Retrieve basic public profile info (avatars, nickname, region)\
        \ for a TikTok user by their unique ID (handle)."
      operationId: RetrieveTikTokUserBasic
      parameters:
      - description: The unique ID (handle) of the TikTok user.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME)."
        explode: false
        in: header
        name: x-image-source
        required: false
        schema:
          $ref: "#/components/schemas/RouteImageSource"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveTikTokUserBasicResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok Users
  /tiktok/users/{unique_id}/detailed:
    get:
      description: "Retrieve a TikTok user's detailed public profile (bio, verification,\
        \ privacy, follower, following and like counts) and their latest videos by\
        \ their unique ID (handle)."
      operationId: RetrieveTikTokUserDetailed
      parameters:
      - description: The unique ID (handle) of the TikTok user.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME)."
        explode: false
        in: header
        name: x-image-source
        required: false
        schema:
          $ref: "#/components/schemas/RouteImageSource"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveTikTokUserDetailedResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok Users
  /tiktok/users/{numeric_user_id}:
    get:
      description: "Retrieve profile info (avatars, follow counts, verification) for\
        \ a TikTok user by their numeric user ID."
      operationId: RetrieveTikTokUserInfo
      parameters:
      - description: The numeric TikTok user ID.
        explode: false
        in: path
        name: numeric_user_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME)."
        explode: false
        in: header
        name: x-image-source
        required: false
        schema:
          $ref: "#/components/schemas/RouteImageSource"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveTikTokUserInfoResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok Users
      x-premium: "true"
  /tiktok/videos/{video_id}/basic:
    get:
      description: "Retrieve basic public info (thumbnail, description, hashtags,\
        \ music, author) for a TikTok video by its numeric video ID."
      operationId: RetrieveTikTokVideoBasic
      parameters:
      - description: The numeric TikTok video ID.
        explode: false
        in: path
        name: video_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME)."
        explode: false
        in: header
        name: x-image-source
        required: false
        schema:
          $ref: "#/components/schemas/RouteImageSource"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveTikTokVideoBasicResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok Videos
  /webcast/agencies/catalog/search:
    get:
      description: |-
        Search the TikTok LIVE agency catalog by agency name.

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: SearchAgencyCatalog
      parameters:
      - description: The agency name substring to search for (minimum 3 characters).
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: 1-based page number. Defaults to 1. Pages hold 25 results.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyCatalogSearchResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Agencies
      x-new-route: true
      x-premium: "true"
  /webcast/agencies/catalog/anchors/{anchor_id}:
    get:
      description: |-
        Reverse-look up a TikTok LIVE agency by the numeric TikTok user id of its linked creator (anchor).

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: RetrieveAgencyByAnchorId
      parameters:
      - description: The numeric TikTok user id of the agency's creator.
        explode: false
        in: path
        name: anchor_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyCatalogEntryResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Agencies
      x-new-route: true
      x-premium: "true"
  /webcast/agencies/catalog/{agency_id}:
    get:
      description: |-
        Retrieve a single TikTok LIVE agency by its numeric catalog id.

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: RetrieveAgency
      parameters:
      - description: The numeric catalog id of the agency.
        explode: false
        in: path
        name: agency_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyCatalogEntryResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Agencies
      x-new-route: true
      x-premium: "true"
  /webcast/agencies/catalog/{agency_id}/apply_url:
    get:
      description: |-
        Retrieve the application (recruitment) URL for a TikTok LIVE agency. This is the URL an agency's QR code points prospective creators at.

        Requests to catalogue endpoints do NOT count towards normal API limits.
      operationId: RetrieveAgencyApplyUrl
      parameters:
      - description: The numeric catalog id of the agency.
        explode: false
        in: path
        name: agency_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: Whether to redirect directly or return a JSON response.
        explode: true
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/AgencyApplyUrlResponse"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Agencies
      x-new-route: true
      x-premium: "true"
  /tiktok/signing/encrypt/sign_url:
    post:
      description: "Sign a non-LIVE TikTok URL. This is NOT available to customers\
        \ in any public package, and access is approved on a case-by-case basis."
      operationId: SignTikTokUrl
      parameters:
      - description: The TikTokLive client making the request
        explode: true
        in: query
        name: client
        required: false
        schema:
          default: ttlive-other
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignTikTokUrlBody"
        description: Config for the signature generation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignTikTokUrlResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok Signing
  /tiktok/signing/decrypt/str-data:
    post:
      description: Decode a TikTok `str-data` payload into the behaviour telemetry
        object it encodes.
      operationId: DecryptTikTokStrData
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecryptStrDataBody"
        description: The payload to decode
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecryptStrDataResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - UNRESTRICTED_WEBCAST_SIGNATURES
        api_key_header:
        - UNRESTRICTED_WEBCAST_SIGNATURES
      tags:
      - TikTok Signing
  /tiktok/signing/decrypt/ec-data:
    post:
      description: "Decode a TikTok `ecData` payload, the environment report webmssdk\
        \ posts to `/web/report`, into the fields it carries."
      operationId: DecryptTikTokEcData
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecryptEcDataBody"
        description: The payload to decode
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecryptEcDataResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - UNRESTRICTED_WEBCAST_SIGNATURES
        api_key_header:
        - UNRESTRICTED_WEBCAST_SIGNATURES
      tags:
      - TikTok Signing
  /tiktok/signing/decrypt/x-gnarly:
    post:
      description: Decode a TikTok `x-gnarly` signature payload into its fields. Only
        the fields a captured token confirms are given names; the rest are returned
        under their index as `unknown_<index>` rather than guessed at.
      operationId: DecryptTikTokXGnarly
      parameters:
      - description: The script version that produced the token. Selects the alphabet
          and field map. Defaults to `5.3.2`.
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: "#/components/schemas/XGnarlyScriptVersion"
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecryptXGnarlyBody"
        description: The payload to decode
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecryptXGnarlyResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - UNRESTRICTED_WEBCAST_SIGNATURES
        api_key_header:
        - UNRESTRICTED_WEBCAST_SIGNATURES
      tags:
      - TikTok Signing
  /tiktok/signing/decrypt/x-dynosaur:
    post:
      description: "Decode a TikTok `x-dynosaur` signature payload into its records.\
        \ Unlike the other signing payloads its leading byte is a bit-field rather\
        \ than a constant marker, so the sign type and mode are returned alongside\
        \ the records."
      operationId: DecryptTikTokXDynosaur
      parameters:
      - description: The script version that produced the token. Selects the alphabet
          and field map. Defaults to `5.3.0`.
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: "#/components/schemas/XDynosaurScriptVersion"
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecryptXDynosaurBody"
        description: The payload to decode
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecryptXDynosaurResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
      security:
      - api_key_query:
        - UNRESTRICTED_WEBCAST_SIGNATURES
        api_key_header:
        - UNRESTRICTED_WEBCAST_SIGNATURES
      tags:
      - TikTok Signing
  /webcast/anchors/{unique_id}/room_cover:
    get:
      description: Fetch TikTok LIVE Stream Cover URL given a uniqueId.
      operationId: RetrieveRoomCover
      parameters:
      - description: The unique ID of the TikTok to fetch the cover for.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to redirect to the URL directly
        explode: true
        in: query
        name: redirect
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME)."
        explode: false
        in: header
        name: x-image-source
        required: false
        schema:
          $ref: "#/components/schemas/RouteImageSource"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/RetrieveRoomCoverResponse"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE Anchors
  /webcast/gifts:
    get:
      description: Retrieve Webcast gifts for a given region
      operationId: RetrieveWebcastGifts
      parameters:
      - description: The region to fetch gifts for
        explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: "#/components/schemas/PooledProxyRegion"
        style: form
      - description: Webcast language for locale-based fields
        explode: true
        in: query
        name: webcast_language
        required: false
        schema:
          default: en
          enum:
          - en
          type: string
        style: form
      - description: Whether to redirect directly or return a JSON response
        explode: true
        in: query
        name: redirect
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/WebcastGiftsResponse"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Gifts
  /webcast/rooms/{room_id}/connect:
    get:
      description: |-
        Fetch the WebSocket URL & first payload for a TikTok LIVE Room given a Room ID.

        **Authentication (Optional):** Anonymous access is supported. For authenticated requests, provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: FetchWebcastURL
      parameters:
      - description: The client library identifier. Used for metrics.
        explode: true
        in: query
        name: client
        required: false
        schema:
          default: ttlive-other
          type: string
        style: form
      - description: The room ID to fetch the Webcast URL for. Must be a numeric string.
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Starting cursor for the webcast connection, if any"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Override the user agent used for signing and fetching
        explode: true
        in: query
        name: user_agent
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the client enters a room after connecting, or if it's\
          \ done by query parameters"
        explode: true
        in: query
        name: client_enter
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Platform to connect with
        explode: true
        in: query
        name: platform
        required: false
        schema:
          $ref: "#/components/schemas/WebcastFetchPlatform"
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/protobuf:
              schema:
                allOf:
                - $ref: "#/components/schemas/Uint8Array"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Rooms
  /webcast/anchors/{unique_id}/connect:
    get:
      description: |-
        Fetch the WebSocket URL & first payload for a TikTok LIVE Room given the anchor's unique ID (handle).

        Resolves the handle to its current Room ID, then behaves exactly as fetching by Room ID. Requires the Business plan.

        **Authentication (Optional):** Anonymous access is supported. For authenticated requests, provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: FetchWebcastURLByUniqueId
      parameters:
      - description: The client library identifier. Used for metrics.
        explode: true
        in: query
        name: client
        required: false
        schema:
          default: ttlive-other
          type: string
        style: form
      - description: The unique ID (handle) of the TikTok user whose LIVE room to
          connect to.
        explode: false
        in: path
        name: unique_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Starting cursor for the webcast connection, if any"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Override the user agent used for signing and fetching
        explode: true
        in: query
        name: user_agent
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the client enters a room after connecting, or if it's\
          \ done by query parameters"
        explode: true
        in: query
        name: client_enter
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Platform to connect with
        explode: true
        in: query
        name: platform
        required: false
        schema:
          $ref: "#/components/schemas/WebcastFetchPlatform"
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/protobuf:
              schema:
                allOf:
                - $ref: "#/components/schemas/Uint8Array"
                nullable: true
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        jwt_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Anchors
  /webcast/events/anchors/{anchor_id}:
    get:
      description: |-
        List the scheduled/live TikTok LIVE events for an anchor (creator).

        The upstream endpoint is session-bound, so a session is required.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveWebcastAnchorEvents
      parameters:
      - description: The anchor's numeric TikTok user ID.
        explode: false
        in: path
        name: anchor_id
        required: true
        schema:
          type: string
        style: simple
      - description: Zero-based page of events (20 per page).
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebcastAnchorEventsResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE Events
      x-premium: "true"
  /webcast/events/{event_id}:
    get:
      description: |-
        Retrieve a single TikTok LIVE event (a scheduled/subscription stream) by
        its event ID.
      operationId: RetrieveWebcastEvent
      parameters:
      - description: The numeric ID of the LIVE event.
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME)."
        explode: false
        in: header
        name: x-image-source
        required: false
        schema:
          $ref: "#/components/schemas/RouteImageSource"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveWebcastEventResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE Events
      x-premium: "true"
  /webcast/feed:
    get:
      description: Fetch the TikTok LIVE webcast feed for a specific region. Gets
        a random sampling of creators for a region.
      operationId: RetrieveWebcastFeed
      parameters:
      - description: The region (country) with which to fetch a feed from.
        explode: true
        in: query
        name: region
        required: true
        schema:
          $ref: "#/components/schemas/PooledProxyRegion"
        style: form
      - description: "Where returned image URLs are served from (ORIGIN, CDN, CDN_CNAME)."
        explode: false
        in: header
        name: x-image-source
        required: false
        schema:
          $ref: "#/components/schemas/RouteImageSource"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastFeedRouteResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_500_response"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAvailableDates_503_response"
          description: Service Unavailable
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE
      x-premium: "true"
  /webcast/gifts/catalog:
    get:
      description: |-
        List the full TikTok LIVE gift catalog, paginated.

        This is a special route, it does NOT fetch data live, and therefore does not count to your hourly/daily rate limits.
      operationId: ListWebcastGifts
      parameters:
      - description: "Results per page (1–100, server-clamped). Defaults to 50."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          format: double
          type: number
        style: form
      - description: 1-based page number. Defaults to 1.
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          format: double
          type: number
        style: form
      - description: Sort order for the catalog. Defaults to price ascending.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: "#/components/schemas/GiftCatalogOrderBy"
        style: form
      - description: Whether to sort ascending or descending. Defaults to true.
        explode: true
        in: query
        name: ascending
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastGiftcatalogResponse"
          description: Ok
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountSelf_429_response"
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
[...]
