openapi: 3.0.0
info:
  contact:
    name: Euler Stream
  description: Sign Server API Documentation
  license:
    name: All Rights Reserved
  title: Euler Stream Sign API
  version: dev
servers:
- description: Public Server (Community & Pro)
  url: https://api.eulerstream.com
- description: Enterprise Server (Enterprise)
  url: https://tiktok.enterprise.eulerstream.com
- description: Staging Server (Private Use)
  url: https://tiktok.staging.eulerstream.com
tags:
- description: Fetch information from the TikTok LIVE Webcast API.
  name: TikTok LIVE
- description: Premium TikTok LIVE routes requiring an additional subscription.
  name: TikTok LIVE Premium
- description: Premium TikTok LIVE routes requiring for stream moderation.
  name: TikTok LIVE Moderation
- description: Public TikTok API signing routes.
  name: TikTok General
- description: "Manage, create, update, and retrieve information about TikTok LIVE\
    \ Creator Alerts."
  name: TikTok LIVE Alerts
- description: "Manage, create, update, and retrieve information about TikTok LIVE\
    \ Creator Alert Targets."
  name: TikTok LIVE Alert Targets
- description: Routes related to TikTok Captchas.
  name: TikTok Captchas
- description: "Manage, create, update, and retrieve information about Sign API Accounts."
  name: Accounts
- description: "Manage, create, update, and retrieve information about Sign API keys."
  name: Authentication
- description: Routes for Sign API analytics and logging.
  name: Analytics
paths:
  /webcast/sign_url:
    post:
      operationId: SignWebcastUrl
      parameters:
      - explode: true
        in: query
        name: client
        required: false
        schema:
          default: ttlive-other
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignTikTokUrlBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignWebcastUrl_200_response"
          description: Ok
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
      tags:
      - TikTok LIVE
  /webcast/rate_limits:
    get:
      description: Retrieve the rate limits for the provided API key (or the unauthenticated
        limits if no key is provided)
      operationId: GetRateLimits
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRateLimits"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE
  /webcast/chat:
    post:
      description: |-
        Requires Premium Routes Addon - Send a chat to a TikTok LIVE room.

        Either `targetRoomId` or `targetUniqueId` must be provided to identify the room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: SendRoomChat
      parameters:
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendRoomChat_request"
        description: The payload configuration for sending a chat
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRoomChatRouteResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Premium
  /webcast/user_earnings:
    get:
      description: |-
        Requires Premium Routes Addon - Retrieve TikTok LIVE earnings for a specific user.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveWebcastUserEarnings
      parameters:
      - description: The unique ID (username) of the user to fetch earnings for.
        explode: true
        in: query
        name: unique_id
        required: true
        schema:
          type: string
        style: form
      - description: Earnings period
        explode: true
        in: query
        name: period
        required: false
        schema:
          $ref: "#/components/schemas/WebcastUserEarningsOutputPeriod"
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: session_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: tt_target_idc
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastUserEarningsResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Premium
  /webcast/rankings:
    get:
      description: |-
        Requires Premium Routes Addon - Retrieve TikTok LIVE rankings for a specific region.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveWebcastRankings
      parameters:
      - description: The region (country) with which to fetch a feed from.
        explode: true
        in: query
        name: region
        required: true
        schema:
          $ref: "#/components/schemas/OxyLabsProxyRegion"
        style: form
      - description: The type of ranking to fetch. See documentation for more details.
        explode: true
        in: query
        name: rank_type
        required: true
        schema:
          enum:
          - FANS_TEAM_RANK
          - DAILY_RANK
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: session_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: tt_target_idc
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRegionRankingsResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE
  /webcast/fetch:
    get:
      description: |-
        Fetch the WebSocket URL & first payload for a TikTok LIVE Room given a Room ID.

        **Authentication (Optional):** Anonymous access is supported. For authenticated requests, provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: FetchWebcastURL
      parameters:
      - description: The client library identifier. Used for metrics.
        explode: true
        in: query
        name: client
        required: false
        schema:
          default: ttlive-other
          type: string
        style: form
      - description: The room ID to fetch the Webcast URL for.
        explode: true
        in: query
        name: room_id
        required: false
        schema:
          type: string
        style: form
      - description: "The unique ID of the TikTok user. Send this instead of a Room\
          \ ID, if you're an Enterprise user."
        explode: true
        in: query
        name: unique_id
        required: false
        schema:
          type: string
        style: form
      - description: "Starting cursor for the webcast connection, if any"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Override the user agent used for signing and fetching
        explode: true
        in: query
        name: user_agent
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the client enters a room after connecting, or if it's\
          \ done by query parameters"
        explode: true
        in: query
        name: client_enter
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Country code to make the request from.
        explode: true
        in: query
        name: country
        required: false
        schema:
          $ref: "#/components/schemas/SoaxProxyRegion"
        style: form
      - description: Platform to connect with
        explode: true
        in: query
        name: platform
        required: false
        schema:
          $ref: "#/components/schemas/WebcastFetchPlatform"
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: session_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Use x-oauth-token or x-cookie-header instead
        explode: true
        in: query
        name: tt_target_idc
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Uint8Array"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE
  /webcast/feed:
    get:
      description: Requires Premium Routes Addon - Fetch the TikTok LIVE webcast feed
        for a specific region. Gets a random sampling of creators for a region.
      operationId: RetrieveWebcastFeed
      parameters:
      - description: The region (country) with which to fetch a feed from.
        explode: true
        in: query
        name: region
        required: true
        schema:
          $ref: "#/components/schemas/OxyLabsProxyRegion"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastFeedRouteResponse"
          description: Ok
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE Premium
  /webcast/room_video:
    get:
      description: Requires Business Plan - Fetch TikTok LIVE Stream video given a
        uniqueId.
      operationId: RetrieveRoomVideo
      parameters:
      - description: The unique ID of the TikTok to fetch the data for.
        explode: true
        in: query
        name: uniqueId
        required: true
        schema:
          type: string
        style: form
      - description: The type of video stream to fetch. Default is HLS_SD.
        explode: true
        in: query
        name: streamType
        required: false
        schema:
          $ref: "#/components/schemas/StreamType"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JSONResponse"
          description: Ok
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE
  /webcast/room_info:
    get:
      description: Requires Business Plan - Retrieve TikTok Live Room Information
      operationId: RetrieveRoomInfo
      parameters:
      - description: The unique identifier for the TikTok user or room
        explode: true
        in: query
        name: uniqueId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRoomInfoRouteResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Premium
  /webcast/room_id:
    get:
      description: Requires Business Plan - Fetch Room ID for a given uniqueId & whether
        that user is live.
      operationId: RetrieveRoomId
      parameters:
      - description: The unique ID of the TikTok user to fetch the data for.
        explode: true
        in: query
        name: uniqueId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastRoomIdRouteResponse"
          description: Ok
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE
  /webcast/room_cover:
    get:
      description: Requires Business Plan - Fetch TikTok LIVE Stream Cover URL given
        a uniqueId.
      operationId: RetrieveRoomCover
      parameters:
      - description: The unique ID of the TikTok to fetch the cover for.
        explode: true
        in: query
        name: uniqueId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JSONResponse"
          description: Ok
      security:
      - api_key_query:
        - PRO
        api_key_header:
        - PRO
        jwt_key_header:
        - PRO
      tags:
      - TikTok LIVE
  /webcast/live_analytics/video_list:
    get:
      description: |-
        Requires Premium Routes Addon - Retrieve the list of past livestreams with analytics for the authenticated user.

        **Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveLiveAnalyticsVideoList
      parameters:
      - description: "Number of videos to retrieve (default: 10)"
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          format: double
          type: number
        style: form
      - description: "Pagination offset (default: 0)"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveAnalyticsVideoListAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Premium
  /webcast/live_analytics/video_detail:
    get:
      description: |-
        Requires Premium Routes Addon - Retrieve detailed analytics for a specific past livestream.

        **Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveLiveAnalyticsVideoDetail
      parameters:
      - description: The room ID of the livestream to get analytics for
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveAnalyticsVideoDetailAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Premium
  /webcast/hashtag_list:
    get:
      description: Requires Premium Routes Addon - Retrieve the list of available
        hashtags for TikTok LIVE streams.
      operationId: RetrieveHashtagList
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HashtagListAPIResponse"
          description: Ok
      security: []
      tags:
      - TikTok LIVE
  /webcast/gift_info:
    get:
      description: Retrieve TikTok Live Room Gift List
      operationId: RetrieveGiftInfo
      parameters:
      - description: The room ID of the TikTok LIVE session
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: Webcast language for locale-based fields
        explode: true
        in: query
        name: webcast_language
        required: false
        schema:
          default: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebcastGiftInfoRouteResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE
  /webcast/bulk_live_check:
    post:
      description: |-
        Requires Premium Routes Addon - A bulk-check endpoint to determine if a group of TikTok users (up to 50 at once) are live.
        It uses a highly optimized job-based system for checking large numbers of users quickly.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveBulkLiveCheck
      parameters:
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrieveBulkLiveCheck_request"
        description: The body of the request containing user numeric IDs (e.g. 7602356191083907865).
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveBulkLiveCheckResponse"
          description: A JSON response indicating which users are live and their Room
            IDs.
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Premium
  /webcast/moderation/mutes:
    delete:
      description: |-
        Requires Premium Routes Addon - Unmute a user in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: UnmuteRoomUser
      parameters:
      - description: The room ID of the livestream
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: The user ID to unmute
        explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomUnmuteUserAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
    get:
      description: |-
        Requires Premium Routes Addon - Retrieve the list of muted users in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveRoomMutedUsers
      parameters:
      - description: The room ID of the livestream
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: "Page number for pagination (default: 0)"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomMutedUsersAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
    put:
      description: |-
        Requires Premium Routes Addon - Mute a user in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: MuteRoomUser
      parameters:
      - description: The room ID of the livestream
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: The user ID to mute
        explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - description: "Mute duration in seconds (-1 = permanent, 5, 30, 60, 300)"
        explode: true
        in: query
        name: duration
        required: false
        schema:
          $ref: "#/components/schemas/MuteDuration"
        style: form
      - description: Optional comment message ID that triggered the mute
        explode: true
        in: query
        name: comment_msg_id
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomMuteUserAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
  /webcast/moderation/bans:
    delete:
      description: |-
        Requires Premium Routes Addon - Unkick a user from a livestream room (allow them back).

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: UnbanRoomUser
      parameters:
      - description: The room ID of the livestream
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: The numeric user ID of the person to unkick
        explode: true
        in: query
        name: tiktok_user_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomUnkickUserAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
    get:
      description: |-
        Requires Premium Routes Addon - Retrieve the list of banned users in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveRoomBannedUsers
      parameters:
      - description: The room ID of the livestream
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: "Page number for pagination (default: 0)"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomKickedUsersAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
    put:
      description: |-
        Requires Premium Routes Addon - Kick a user from a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: KickRoomUser
      parameters:
      - description: The room ID of the livestream
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: The numeric user ID for the individual to kick
        explode: true
        in: query
        name: tiktok_user_id
        required: true
        schema:
          type: string
        style: form
      - description: Optional comment message ID that triggered the kick
        explode: true
        in: query
        name: comment_msg_id
        required: false
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomKickUserAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
  /webcast/moderation/toggle_comments:
    post:
      description: |-
        Requires Premium Routes Addon - Toggle comments on/off in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: ToggleRoomComments
      parameters:
      - description: The room ID of the livestream
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: Whether comments should be enabled (true) or disabled (false)
        explode: true
        in: query
        name: enabled
        required: true
        schema:
          type: boolean
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomCommentsToggleAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
  /tiktok/oauth/token:
    post:
      description: |-
        Exchange an authorization code or refresh token for access tokens.

        For authorization_code grant:
        - code: The authorization code from /oauth/complete
        - redirect_uri: Must match the original redirect_uri

        For refresh_token grant:
        - refresh_token: A valid refresh token
      operationId: ExchangeToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeTokenRequest"
        description: Token request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
          description: Ok
      security: []
      tags:
      - TikTok General
  /tiktok/oauth/revoke:
    post:
      description: |-
        Revoke an access token or refresh token (RFC 7009).
        This endpoint always returns success for valid client credentials,
        even if the token was already revoked or invalid.
      operationId: RevokeToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeRequestBody"
        description: Revoke request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthRevokeResponse"
          description: Ok
      security: []
      tags:
      - TikTok General
  /tiktok/captchas/credits:
    get:
      description: Retrieve the rate limits for the provided API key
      operationId: RetrieveCaptchaCredits
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaptchaCreditsResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok Captchas
  /tiktok/captchas/whirl:
    post:
      description: |-
        The whirl captcha requires two images: the outer image and the inner image.

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/rotate.png" alt="Whirl Captcha Example" width="480" />

        ## Usage

        The solution to the whirl captcha is an angle from 0-360. To use it in the GUI, it must be converted to a slider distance:

        `px = ((sidebar_length - icon_length) * angle) / 360`

        - `sidebar_length` is the width of `.captcha_verify_slide--slidebar`
        - `icon_length` is the width of `.secsdk-captcha-drag-icon`
      operationId: CompleteWhirlCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompleteWhirlCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhirlCaptchaResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        license_key_query:
        - PUBLIC
      tags:
      - TikTok Captchas
  /tiktok/captchas/shapes:
    post:
      description: |-
        The shapes captcha requires just one image.

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/threed.png" alt="Shapes Captcha Example" width="480" />

        ## Usage

        The solution to the shapes captcha are two points that need to be clicked. To use it in the GUI, convert the proportions to pixel values based on the image size.

        The `points` are returned as `x` and `y` proportions (0-1) of the width and height of the source image.
        The captcha image selector is `.captcha-verify-image`
      operationId: CompleteShapesCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompleteShapesCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShapesCaptchaResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        license_key_query:
        - PUBLIC
      tags:
      - TikTok Captchas
  /tiktok/captchas/puzzle:
    post:
      description: |-
        The puzzle captcha requires two images

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/puzzle.png" alt="Puzzle Piece Example" width="480" />

        ## Usage

        The solution to the puzzle captcha is the distance to move the slider to fit the puzzle piece into the background.

        The `backgroundImage` is the full background image with the missing piece.
        The `pieceImage` is the small puzzle piece that needs to be fit into the background.

        The captcha image selectors are:
        - Background: `.captcha-verify-image`
        - Piece: `#captcha-verify-image ~ div.cap-absolute > img`

        The solution is the `x` proportion (0-1) of the width of the background image where the piece fits. It is 1:1 with the slider distance proportion.
      operationId: CompletePuzzleCaptcha
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompletePuzzleCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PuzzleCaptchaResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        license_key_query:
        - PUBLIC
      tags:
      - TikTok Captchas
  /tiktok/captchas/icons:
    post:
      description: |2-

        The icons captcha requires just one image & a prompt string.

        ## Example Image
        <img src="https://www.eulerstream.com/_static/captchas/icon.png" alt="Icons Captcha Example" width="480" />

        ## Usage

        The `prompt` is the text prompt provided by TikTok. The Icon captcha solution is provided as a list of points, where each point marks a location on the image that needs to be clicked.
        These points are expressed as ratios relative to the image's width and height.
        A point of (0.0, 0.0) corresponds to the image’s upper-left corner, while (1.0, 1.0) represents the lower-right corner. For reference, (0.5, 0.5) sits at the exact center.

        The captcha image selector is `.captcha-verify-image`
      operationId: CompleteIconCaptcha
      parameters:
      - description: The prompt string provided by TikTok
        explode: true
        in: query
        name: prompt
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CompleteIconCaptcha_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IconCaptchaResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
        license_key_query:
        - PUBLIC
      tags:
      - TikTok Captchas
  /analytics/pips:
    get:
      description: Retrieve stats as an SVG
      operationId: Pips
      parameters:
      - description: Specify label colour in SVG
        explode: true
        in: query
        name: labelColour
        required: false
        schema:
          default: "#555"
          type: string
        style: form
      - description: Specify value colour in SVG
        explode: true
        in: query
        name: valueColour
        required: false
        schema:
          default: "#007ec6"
          type: string
        style: form
      - description: The number of hours to retrieve the stat for
        explode: true
        in: query
        name: hours
        required: false
        schema:
          default: 1
          format: double
          type: number
        style: form
      - description: The client to filter for
        explode: true
        in: query
        name: client
        required: false
        schema:
          $ref: "#/components/schemas/TikTokSignLiveClient"
        style: form
      - description: Add the ability to retrieve the pip as JSON
        explode: true
        in: query
        name: json
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pips_200_response"
          description: Ok
      security: []
      tags:
      - Analytics
  /analytics/hosts:
    get:
      description: Retrieve the list of API hosts (used for horizontal scaling)
      operationId: GetHosts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostsResponse"
          description: Ok
      security: []
      tags:
      - Analytics
  /analytics/agents:
    get:
      description: Retrieve the currently connected agents
      operationId: FetchAgents
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAgentHostsResponse"
          description: All registered agents
      security: []
      tags:
      - Analytics
  /accounts/{account_id}/alerts/{alert_id}/retrieve:
    get:
      description: Retrieve a specific alert by its ID
      operationId: RetrieveAlert
      parameters:
      - description: The account that the alert belongs to
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the alert to retrieve
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAlertResponse"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alerts
  /accounts/{account_id}/alerts/list:
    get:
      operationId: ListAlerts
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAlertsResponse"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alerts
  /accounts/{account_id}/alerts/{alert_id}/delete:
    delete:
      description: Delete an alert from the Sign API
      operationId: DeleteAlert
      parameters:
      - description: The ID of the account to delete the alert from
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the alert to delete
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAlertResponse"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alerts
  /accounts/{account_id}/alerts/create:
    put:
      description: Create a creator alert. These Alerts are used to notify users of
        a new livestream.
      operationId: CreateAlert
      parameters:
      - description: The ID of the account to create the alert for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAlert_request"
        description: Configuration for the alert
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAlertResponse"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alerts
  /accounts/{account_id}/alerts/{alert_id}/targets/{target_id}/test:
    post:
      description: Test an alert target
      operationId: TestAlertTarget
      parameters:
      - description: The account that the alert belongs to
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The alert that the target belongs to
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The target to test
        explode: false
        in: path
        name: target_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestAlertTargetResponse"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alert Targets
  /accounts/{account_id}/alerts/{alert_id}/targets/list:
    get:
      description: List all alert targets for a specific alert
      operationId: ListAlertTargets
      parameters:
      - description: The account that the alert belongs to
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The alert to list targets for
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAlertTargetsResponse"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alert Targets
  /accounts/{account_id}/alerts/{alert_id}/targets/{target_id}/delete:
    delete:
      description: Delete an alert target from the Sign API
      operationId: DeleteAlertTarget
      parameters:
      - description: The ID of the account to delete the alert target from
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the alert to delete the target from
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the target to delete
        explode: false
        in: path
        name: target_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAlertTargetResponse"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alert Targets
  /accounts/{account_id}/alerts/{alert_id}/targets/create:
    put:
      description: Create a target for an alert. This is the HTTP endpoint that will
        be called when an alert is triggered.
      operationId: CreateAlertTarget
      parameters:
      - description: The ID of the account to create the alert target for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The ID of the alert to create the target for
        explode: false
        in: path
        name: alert_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAlertTargetPayload"
        description: Configuration for the alert target
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAlertTargetResponse"
          description: Ok
      security:
      - jwt_key_header:
        - PUBLIC
        api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - TikTok LIVE Alert Targets
  /accounts/me:
    get:
      description: Retrieve an account from the Sign API
      operationId: RetrieveAccountSelf
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveAccountResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Accounts
  /accounts/{account_id}/api_keys/update:
    patch:
      description: Update an existing API key
      operationId: UpdateKey
      parameters:
      - description: The account to update the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The API key field to update by
        explode: true
        in: query
        name: update_by
        required: true
        schema:
          enum:
          - value
          - id
          type: string
        style: form
      - description: The API key field value to update by
        explode: true
        in: query
        name: update_param
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateKeyPayload"
        description: The new configuration for the key
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateKeyResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
  /accounts/{account_id}/api_keys/retrieve:
    get:
      description: "Retrieve an API key by its key value, name, or ID"
      operationId: GetKey
      parameters:
      - description: The ID of the account to retrieve the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The API key field to retrieve by
        explode: true
        in: query
        name: retrieve_by
        required: false
        schema:
          default: value
          enum:
          - value
          - id
          type: string
        style: form
      - description: The API key field value to retrieve by
        explode: true
        in: query
        name: retrieve_param
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveKeyResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
  /accounts/{account_id}/api_keys/list:
    get:
      description: "Retrieve an API key by its key value, name, or ID"
      operationId: ListKeys
      parameters:
      - description: The ID of the account to retrieve the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListKeysResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
  /accounts/{account_id}/api_keys/delete:
    delete:
      description: "Delete an API key by its key value, name, or ID"
      operationId: DeleteKey
      parameters:
      - description: The ID of the account to delete the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      - description: The API key field to delete by
        explode: true
        in: query
        name: delete_by
        required: true
        schema:
          enum:
          - value
          - id
          type: string
        style: form
      - description: The API key field value to delete by
        explode: true
        in: query
        name: delete_param
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteKeyResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
  /accounts/{account_id}/api_keys/create:
    put:
      description: Create a new API key
      operationId: CreateKey
      parameters:
      - description: The ID of the account to create the key for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateKeyPayload"
        description: The configuration for the new key
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateKeyResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
  /accounts/{account_id}/jwt/create:
    post:
      description: |-
        Create a JWT for a given API key. Note that these JWT keys are only valid for the non-authenticated Webcast endpoints.
        They function to attach the rate limits of the API key to the request for client-sided applications.
      operationId: CreateJWT
      parameters:
      - description: The ID of the account to create the JWT for
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: double
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JWTCreateConfig"
        description: The configuration for the JWT
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateJWTResponse"
          description: Ok
      security:
      - api_key_query:
        - PUBLIC
        api_key_header:
        - PUBLIC
      tags:
      - Authentication
  /webcast/moderation/moderators:
    delete:
      description: |-
        Requires Premium Routes Addon - Remove a moderator from a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RemoveRoomModerator
      parameters:
      - description: The user ID to remove as moderator
        explode: true
        in: query
        name: to_user_id
        required: true
        schema:
          type: string
        style: form
      - description: The streamer's user ID
        explode: true
        in: query
        name: anchor_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomAdminUpdateAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
    get:
      description: |-
        Requires Premium Routes Addon - Retrieve the list of moderators in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveRoomModerators
      parameters:
      - description: The streamer's numeric user ID
        explode: true
        in: query
        name: anchor_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomModeratorsAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
    put:
      description: |-
        Requires Premium Routes Addon - Add a moderator in a livestream room.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: AddRoomModerator
      parameters:
      - description: The user ID to add as moderator
        explode: true
        in: query
        name: to_user_id
        required: true
        schema:
          type: string
        style: form
      - description: The streamer's user ID
        explode: true
        in: query
        name: anchor_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomAdminUpdateAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Moderation
  /webcast/live_analytics/user_interactions:
    get:
      description: |-
        Requires Premium Routes Addon - Find out how long a user watched your stream, the # of comments sent, likes, the comments themselves, and more analytics data.

        **Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

        Returns details about a user's activity in a room including comments, likes, shares, and watch duration.

        **Authentication:** Provide exactly one of the following headers:
        - `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
        - `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.
      operationId: RetrieveLiveAnalyticsUserInteractions
      parameters:
      - description: The room ID of the livestream
        explode: true
        in: query
        name: room_id
        required: true
        schema:
          type: string
        style: form
      - description: The numeric user ID to get interactions for
        explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth access token for session resolution
        explode: false
        in: header
        name: x-oauth-token
        required: false
        schema:
          type: string
        style: simple
      - description: Cookie header containing sessionid and tt-target-idc
        explode: false
        in: header
        name: x-cookie-header
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveAnalyticsUserInteractionsAPIResponse"
          description: Ok
      security:
      - api_key_query:
        - WEBCAST_PREMIUM
        api_key_header:
        - WEBCAST_PREMIUM
      tags:
      - TikTok LIVE Premium
components:
  examples: {}
  headers: {}
  parameters: {}
  requestBodies: {}
  responses: {}
  schemas:
    SignTikTokUrlResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        response:
          requestHeaders:
            key: requestHeaders
          browserVersion: browserVersion
          browserName: browserName
          userAgent: userAgent
          tokens:
            key: tokens
          signedUrl: signedUrl
          cookies:
          - {}
          - {}
        message: message
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        response:
          $ref: "#/components/schemas/Partial__signedUrl-string--userAgent-string--browserName-string--browserVersion-string--tokens-Record_string.string_--requestHeaders-Record_string.string_--cookies-Record_string.string_-Array__"
      required:
      - code
      type: object
    JSONResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        message: message
      properties:
        code:
          format: double
          type: number
        message:
          type: string
      required:
      - code
      type: object
    SignTikTokUrlBody:
      additionalProperties: false
      example:
        includeBrowserParams: true
        includeVerifyFp: true
        method: GET
        payload: payload
        userAgent: userAgent
        ttTargetIdc: ttTargetIdc
        sessionId: sessionId
        ttwid: ttwid
        type: fetch
        url: url
      properties:
        url:
          type: string
        userAgent:
          type: string
        method:
          enum:
          - GET
          - POST
          - OPTIONS
          - PUT
          - DELETE
          - PATCH
          - HEAD
          type: string
        sessionId:
          type: string
        ttTargetIdc:
          type: string
        ttwid:
          type: string
        payload:
          type: string
        type:
          enum:
          - fetch
          - xhr
          type: string
        includeBrowserParams:
          type: boolean
        includeVerifyFp:
          type: boolean
      required:
      - url
      type: object
    GetSignWebcastUrlResponse:
      additionalProperties: false
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        signedUrl:
          type: string
        msToken:
          type: string
        browserVersion:
          type: string
        browserName:
          type: string
        _signature:
          type: string
        X-Bogus:
          type: string
        User-Agent:
          type: string
      required:
      - code
      type: object
    GetRateLimits:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        hour:
          max: 6.027456183070403
          reset_at: reset_at
          remaining: 1.4658129805029452
        load_shedding:
          at: 5.962133916683182
          chance: 5.637376656633329
        message: message
        day:
          max: 6.027456183070403
          reset_at: reset_at
          remaining: 1.4658129805029452
        minute:
          max: 6.027456183070403
          reset_at: reset_at
          remaining: 1.4658129805029452
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        day:
          $ref: "#/components/schemas/RateLimitInfo"
        hour:
          $ref: "#/components/schemas/RateLimitInfo"
        minute:
          $ref: "#/components/schemas/RateLimitInfo"
        load_shedding:
          $ref: "#/components/schemas/LoadShedInfo"
      required:
      - code
      - load_shedding
      type: object
    WebcastRoomChatRouteResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        data: ""
        message: message
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        data: {}
      required:
      - code
      type: object
    WebcastRoomChatPayloadV1:
      additionalProperties: false
      properties:
        content:
          description: The chat message content to send
          type: string
        targetRoomId:
          description: The room ID to send the chat to (either this or targetUniqueId
            is required)
          type: string
        targetUniqueId:
          description: The username of the room to send the chat to (either this or
            targetRoomId is required)
          type: string
        sessionId:
          deprecated: true
          type: string
        ttTargetIdc:
          deprecated: true
          type: string
        roomId:
          deprecated: true
          type: string
      required:
      - content
      type: object
    WebcastRoomChatPayload:
      additionalProperties: false
      properties:
        content:
          description: The chat message content to send
          type: string
        targetRoomId:
          description: The room ID to send the chat to (either this or targetUniqueId
            is required)
          type: string
        targetUniqueId:
          description: The username of the room to send the chat to (either this or
            targetRoomId is required)
          type: string
      required:
      - content
      type: object
    WebcastUserEarningsResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        response:
          resets_at: 2000-01-23T04:56:07.000+00:00
          diamonds: 3.616076749251911
          period: daily
          earnings_estimate: 9.301444243932576
          user:
            unique_id: unique_id
            raw:
              _note: _note
            room_info:
              start_time: 1.4658129805029452
              cover_url: cover_url
              current_viewers: 5.962133916683182
              hls_pull_url: hls_pull_url
              is_live: true
              flv_pull_url_ld: flv_pull_url_ld
              total_viewers: 5.637376656633329
              id: id
              hls_pull_url_ld: hls_pull_url_ld
              title: title
              flv_pull_url: flv_pull_url
              status: 6.027456183070403
            user:
              unique_id: unique_id
              followers: 7.061401241503109
              avatar_url: avatar_url
              sec_uid: sec_uid
              signature: signature
              following: 2.3021358869347655
              nickname: nickname
              numeric_uid: numeric_uid
              is_verified: true
          resets_in: 2.027123023002322
          earnings_estimate_currency: USD
        message: message
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        response:
          $ref: "#/components/schemas/WebcastUserEarningsOutput"
      required:
      - code
      type: object
    WebcastUserEarningsOutputPeriod:
      enum:
      - daily
      nullable: false
      type: string
    WebcastRegionRankingsResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        response:
          resets_at: 2000-01-23T04:56:07.000+00:00
          ranks:
          - diamonds: 1.4658129805029452
            diamonds_description: diamonds_description
            rank: 6.027456183070403
            user:
              unique_id: unique_id
              numeric_id: numeric_id
              nickname: nickname
              avatar_thumb:
              - avatar_thumb
              - avatar_thumb
          - diamonds: 1.4658129805029452
            diamonds_description: diamonds_description
            rank: 6.027456183070403
            user:
              unique_id: unique_id
              numeric_id: numeric_id
              nickname: nickname
              avatar_thumb:
              - avatar_thumb
              - avatar_thumb
          rank_title: rank_title
          rank_type: rank_type
          resets_in: 5.962133916683182
        message: message
        region: US
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        response:
          $ref: "#/components/schemas/WebcastRegionRankingsOutput"
        region:
          $ref: "#/components/schemas/OxyLabsProxyRegion"
      required:
      - code
      - region
      type: object
    OxyLabsProxyRegion:
      enum:
      - US
      - GB
      - DE
      - RO
      - ES
      - BE
      - FR
      - CA
      - JP
      - BR
      - MX
      - CO
      - AR
      - CL
      - AU
      - KR
      - PE
      - PL
      - SG
      - IT
      type: string
    Uint8Array:
      additionalProperties: false
      description: |-
        A typed array of 8-bit unsigned integer values. The contents are initialized to 0. If the
        requested number of bytes could not be allocated an exception is raised.
      properties: {}
      type: object
    SoaxProxyRegion:
      enum:
      - DE
      - ES
      - FR
      - GB
      - PL
      type: string
    WebcastFetchPlatform:
      enum:
      - mobile
      - web
      type: string
    WebcastFeedRouteResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        response:
          data:
            status_code: 6.027456183070403
            data:
            - flare_info:
                key: ""
              data:
                title: title
                stream_url_filtered_info:
                  key: ""
                cover:
                  url_list:
                  - url_list
                  - url_list
                  uri: uri
                live_type_third_party: true
                room_auth:
                  key: 9.018348186070783
                anchor_tab_type: 3.5571952270680973
                stats:
                  comment_count: 6.84685269835264
                  total_user: 1.1730742509559433
                  enter_count: 7.457744773683766
                blurred_cover:
                  url_list:
                  - url_list
                  - url_list
                  avg_color: avg_color
                  width: 2.8841621266687802
                  uri: uri
                  height: 6.778324963048013
                id_str: id_str
                id: 3.616076749251911
                client_version: 1.2315135367772556
                hashtag:
                  image:
                    url_list:
                    - url_list
                    - url_list
                    avg_color: avg_color
                    uri: uri
                  id: 6.965117697638846
                  title: title
                owner:
                  avatar_medium:
                    url_list:
                    - url_list
                    - url_list
                    uri: uri
                  sec_uid: sec_uid
                  display_id: display_id
                  modify_time: 9.965781217890562
                  avatar_thumb:
                    url_list:
                    - url_list
                    - url_list
                    uri: uri
                  bio_description: bio_description
                  avatar_large:
                    url_list:
                    - url_list
                    - url_list
                    uri: uri
                  pay_grade:
                    key: ""
                  user_attr:
                    key: ""
                  id_str: id_str
                  nickname: nickname
                  follow_info:
                    following_count: 6.683562403749608
                    follower_count: 9.369310271410669
                  own_room:
                    room_ids_str:
                    - room_ids_str
                    - room_ids_str
                    room_ids:
                    - 8.762042012749001
                    - 8.762042012749001
                  id: 4.965218492984954
                  status: 5.025004791520295
                like_count: 6.438423552598547
                taxonomy_tag_info:
                  level2_tag: level2_tag
                owner_user_id: 4.145608029883936
                square_cover_img:
                  url_list:
                  - url_list
                  - url_list
                  avg_color: avg_color
                  width: 2.8841621266687802
                  uri: uri
                  height: 6.778324963048013
                multi_stream_url:
                  key: ""
                user_count: 7.386281948385884
                game_tag_detail:
                  game_tag_name: game_tag_name
                  game_tag_id: 6.878052220127876
                  display_name: display_name
                  starling_key: starling_key
                feed_room_label:
                  url_list:
                  - url_list
                  - url_list
                  avg_color: avg_color
                  uri: uri
                commerce_info:
                  key: ""
                rectangle_cover_img:
                  url_list:
                  - url_list
                  - url_list
                  avg_color: avg_color
                  uri: uri
                stream_url:
                  flv_pull_url_params: {}
                  stream_size_width: 1.0246457001441578
                  stream_size_height: 1.4894159098541704
                  rtmp_pull_url: rtmp_pull_url
                  flv_pull_url:
                    SD2: SD2
                    SD1: SD1
                    HD1: HD1
                  live_core_sdk_data:
                    pull_data:
                      stream_data: stream_data
                      options:
                        default_quality:
                          name: name
                          sdk_key: sdk_key
                live_room_mode: 1.284659006116532
                status: 2.027123023002322
              room_event_tracking: room_event_tracking
              type: 9.301444243932576
              rid: rid
            - flare_info:
                key: ""
              data:
                title: title
                stream_url_filtered_info:
                  key: ""
                cover:
                  url_list:
                  - url_list
                  - url_list
                  uri: uri
                live_type_third_party: true
                room_auth:
                  key: 9.018348186070783
                anchor_tab_type: 3.5571952270680973
                stats:
                  comment_count: 6.84685269835264
                  total_user: 1.1730742509559433
                  enter_count: 7.457744773683766
                blurred_cover:
                  url_list:
                  - url_list
                  - url_list
                  avg_color: avg_color
                  width: 2.8841621266687802
                  uri: uri
                  height: 6.778324963048013
                id_str: id_str
                id: 3.616076749251911
                client_version: 1.2315135367772556
                hashtag:
                  image:
                    url_list:
                    - url_list
                    - url_list
                    avg_color: avg_color
                    uri: uri
                  id: 6.965117697638846
                  title: title
                owner:
                  avatar_medium:
                    url_list:
                    - url_list
                    - url_list
                    uri: uri
                  sec_uid: sec_uid
                  display_id: display_id
                  modify_time: 9.965781217890562
                  avatar_thumb:
                    url_list:
                    - url_list
                    - url_list
                    uri: uri
                  bio_description: bio_description
                  avatar_large:
                    url_list:
                    - url_list
                    - url_list
                    uri: uri
                  pay_grade:
                    key: ""
                  user_attr:
                    key: ""
                  id_str: id_str
                  nickname: nickname
                  follow_info:
                    following_count: 6.683562403749608
                    follower_count: 9.369310271410669
                  own_room:
                    room_ids_str:
                    - room_ids_str
                    - room_ids_str
                    room_ids:
                    - 8.762042012749001
                    - 8.762042012749001
                  id: 4.965218492984954
                  status: 5.025004791520295
                like_count: 6.438423552598547
                taxonomy_tag_info:
                  level2_tag: level2_tag
                owner_user_id: 4.145608029883936
                square_cover_img:
                  url_list:
                  - url_list
                  - url_list
                  avg_color: avg_color
                  width: 2.8841621266687802
                  uri: uri
                  height: 6.778324963048013
                multi_stream_url:
                  key: ""
                user_count: 7.386281948385884
                game_tag_detail:
                  game_tag_name: game_tag_name
                  game_tag_id: 6.878052220127876
                  display_name: display_name
                  starling_key: starling_key
                feed_room_label:
                  url_list:
                  - url_list
                  - url_list
                  avg_color: avg_color
                  uri: uri
                commerce_info:
                  key: ""
                rectangle_cover_img:
                  url_list:
                  - url_list
                  - url_list
                  avg_color: avg_color
                  uri: uri
                stream_url:
                  flv_pull_url_params: {}
                  stream_size_width: 1.0246457001441578
                  stream_size_height: 1.4894159098541704
                  rtmp_pull_url: rtmp_pull_url
                  flv_pull_url:
                    SD2: SD2
                    SD1: SD1
                    HD1: HD1
                  live_core_sdk_data:
                    pull_data:
                      stream_data: stream_data
                      options:
                        default_quality:
                          name: name
                          sdk_key: sdk_key
                live_room_mode: 1.284659006116532
                status: 2.027123023002322
              room_event_tracking: room_event_tracking
              type: 9.301444243932576
              rid: rid
            extra:
              total: 5.962133916683182
              cost: 2.3021358869347655
              now: 1.4658129805029452
              banner:
                key: ""
              log_pb:
                impr_id: impr_id
              max_time: 5.637376656633329
              has_more: true
              unread_extra: unread_extra
              is_backup: 7.061401241503109
        message: message
        region: US
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        response:
          $ref: "#/components/schemas/WebcastFeedRouteOutput"
        region:
          $ref: "#/components/schemas/OxyLabsProxyRegion"
      required:
      - code
      - region
      type: object
    StreamType:
      enum:
      - hls_ld
      - hls_sd
      - flv_ld
      - flv_sd
      type: string
    WebcastRoomInfoRouteResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        data: ""
        routes_attempted:
        - routes_attempted
        - routes_attempted
        message: message
        ok: true
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        ok:
          type: boolean
        routes_attempted:
          items:
            type: string
          type: array
        data:
          allOf:
          - $ref: "#/components/schemas/TikTokLiveUser"
          nullable: true
      required:
      - code
      - data
      - ok
      - routes_attempted
      type: object
    WebcastRoomIdRouteResponse:
      additionalProperties: false
      example:
        room_id: room_id
        code: 0.8008281904610115
        is_live: true
        routes_attempted:
        - routes_attempted
        - routes_attempted
        message: message
        ok: true
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        ok:
          type: boolean
        routes_attempted:
          items:
            type: string
          type: array
        is_live:
          type: boolean
        room_id:
          type: string
      required:
      - code
      - ok
      - routes_attempted
      type: object
    LiveAnalyticsVideoListAPIResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        response:
          data:
            status_code: 2.027123023002322
            data:
              total: 6.027456183070403
              video_list:
              - cover: cover
                duration: 5.962133916683182
                room_id: room_id
                diamonds: 1.4658129805029452
                start_time: 7.061401241503109
                end_time: 5.637376656633329
                new_followers: 2.3021358869347655
                title: title
                views: 9.301444243932576
              - cover: cover
                duration: 5.962133916683182
                room_id: room_id
                diamonds: 1.4658129805029452
                start_time: 7.061401241503109
                end_time: 5.637376656633329
                new_followers: 2.3021358869347655
                title: title
                views: 9.301444243932576
            extra:
              now: 3.616076749251911
        message: message
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        response:
          $ref: "#/components/schemas/WebcastLiveAnalyticsVideoListRouteOutput"
      required:
      - code
      type: object
    LiveAnalyticsVideoDetailAPIResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        response:
          data:
            status_code: 8.761432466225475
            data:
              is_first_live: true
              pause_duration: 7.260521264802104
              traffic_info:
                total:
                  live_recomm: 9.702963800023566
                  following: 0.8774076871421566
                  share: 7.933506881737151
                  video_recomm_info:
                    total_views: 4.86315908102884
                    video_info:
                    - ""
                    - ""
                  video_recomm: 5.507386964179881
                  others: 0.5199002018724985
                traffic_conversion:
                  impression_viewers: 8.251625748923757
                  gifters: 6.073898085781152
                  unique_viewers: 4.459605034958679
              viewer_info:
                viewer_portrait:
                  viewers_gender:
                    female_percent: 0.43431398824148815
                    male_percent: 2.9409642974827896
                  viewers_region:
                    top_viewers_region_list:
                    - region_name: region_name
                      percent: 8.28965939814297
                    - region_name: region_name
                      percent: 8.28965939814297
                    others: 1.7325933120207193
                  viewers_age:
                  - age_section: age_section
                    percent: 3.901545264248647
                  - age_section: age_section
                    percent: 3.901545264248647
                gift_rank:
                - ""
                - ""
                watcher_rank:
                - user:
                    key: ""
                  value: 6.623518433804886
                - user:
                    key: ""
                  value: 6.623518433804886
              cover_image_url: cover_image_url
              behavior_summary:
                cohost_summary:
                  cohost_rank:
                  - ""
                  - ""
                  total_views: 5.025004791520295
                  total_diamonds: 4.965218492984954
                  total_anchor: 1.1730742509559433
                multi_guest_summary:
                  total_guest: 8.762042012749001
                  total_duration: 6.683562403749608
                  total_points: 9.018348186070783
                  multi_guest_show_type: 9.965781217890562
                  total_diamonds: 9.369310271410669
                  multi_guest_rank:
                  - ""
                  - ""
              end_time: 2.8841621266687802
              average_watch_time:
                follower: 6.84685269835264
                non_follower: 7.457744773683766
              title: title
              comments_info:
                show_entry: true
                sub_title: sub_title
                entry_location: entry_location
                comment_cnt: 6.438423552598547
                top_users:
                - ""
                - ""
              views_by_setion:
                live_recomm: 8.863729185622827
                following: 4.573936264232251
                share: 1.8268702177058116
                video_recomm: 3.502657762086401
                others: 9.254183946267839
              new_analytics:
                earnings:
                  diamonds: 6.778324963048013
                  last_diamonds: 6.878052220127876
                  diamonds_details:
                    star_comment_fan_tickets_percentage: 5.637376656633329
                    star_comment_qualification: true
                    gift_fan_tickets_percentage: 1.4658129805029452
                    multi_guest_fan_tickets_percentage: 5.962133916683182
                interaction:
                  last_likes: 7.143538047012306
                  shares: 4.652396432933246
                  gifters: 6.704019297950036
                  last_gifters: 3.0937452626664474
                  last_shares: 7.058770351582356
                  top_interaction: 8.969578798196912
                  last_comment: 3.353193347011243
                  comment: 5.944895607614016
                  new_followers: 0.10263654006109402
                  last_new_followers: 0.8851374739011653
                  likes: 6.519180951018382
                views:
                  top_viewer_count: 4.258773108174356
                  last_top_viewer_count: 3.2588565619047607
                  anchor_live_acu: 7.740351818741173
                  last_unique_viewers: 0.2025324113236393
                  last_anchor_live_acu: 3.0576100241049344
                  average_watch_time: 3.0205796992916243
                  total_views: 1.041444916118296
                  last_average_watch_time: 7.04836565559697
                  three_min_total_views: 6.628464275087742
                  last_total_views: 4.078845849666752
                  last_three_min_total_views: 5.533258397034986
                  unique_viewers: 4.678947989005849
              analytics:
                earnings:
                  diamonds: 6.027456183070403
                  gifters: 2.3021358869347655
                  diamonds_details:
                    star_comment_fan_tickets_percentage: 5.637376656633329
                    star_comment_qualification: true
                    gift_fan_tickets_percentage: 1.4658129805029452
                    multi_guest_fan_tickets_percentage: 5.962133916683182
                interaction:
                  shares: 2.027123023002322
                  comment: 7.061401241503109
                  new_followers: 3.616076749251911
                  likes: 9.301444243932576
                views:
                  top_viewer_count: 1.2315135367772556
                  anchor_live_acu: 4.145608029883936
                  average_watch_time: 7.386281948385884
                  total_views: 1.0246457001441578
                  unique_viewers: 1.4894159098541704
              duration: 1.284659006116532
              start_time: 9.132027271330688
              detailed_metrics:
                viewers:
                  follower: 3.5571952270680973
                  non_follower: 6.965117697638846
                gifters:
                  follower: 3.5571952270680973
                  non_follower: 6.965117697638846
                commenter:
                  follower: 3.5571952270680973
                  non_follower: 6.965117697638846
            extra:
              now: 9.183123594773994
        message: message
      properties:
        code:
          format: double
          type: number
        message:
          type: string
        response:
          $ref: "#/components/schemas/WebcastLiveAnalyticsVideoDetailRouteOutput"
      required:
      - code
      type: object
    HashtagListAPIResponse:
      additionalProperties: false
      example:
        code: 0.8008281904610115
        response:
          data:
[...]
